@media only screen and (max-width: 1360px) {
  .container {
    width: 970px;
  }
  .top-banner__close {
    top: 15px;
  }
  .info-wrap,
  .log-in,
  .info-callback,
  .header-info-item p,
  .logo p,
  .main-sidebar {
    display: none;
  }
  .header-info-item {
    width: 25px;
    height: 25px;
  }
  .header-info-item img {
    left: 0;
    top: 0;
  }
  .header-info-item:last-child {
    margin-left: 13px;
  }
  .logo {
    width: 170px;
    margin-top: 9px;
    margin-right: 0;
  }
  .mobile-search {
    display: inline-block;
    vertical-align: middle;
    margin-right: 17px;
    width: 20px;
    cursor: pointer;
  }
  .search {
    position: absolute;
    right: 100px;
    top: -17px;
    right: 77px;
    width: 340px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .search.active {
    opacity: 1;
    visibility: visible;
  }
  .search input {
    height: 35px;
    font-size: 14px;
  }
  .header-info {
    margin-top: 20px;
  }
  .header {
    padding-bottom: 8px;
  }
  .burger-wrap {
    display: block;
    width: 30px;
    float: left;
    margin: 14px 64px 0 0;
  }
  .burger-wrap a {
    cursor: pointer;
    padding: 12px 0;
    display: block;
  }
  .burger-wrap a span {
    position: relative;
    display: block;
    width: 30px;
    height: 5px;
    background: #b1babf;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before,
  .burger-wrap a span:after {
    position: absolute;
    background: #b1babf;
    content: '';
    width: 30px;
    height: 5px;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .burger-wrap a span:before {
    top: -8px;
  }
  .burger-wrap a span:after {
    top: 8px;
  }
  .burger-wrap a.active span {
    background: transparent;
  }
  .burger-wrap a.active span:before {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px);
  }
  a.active span:after {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
    transform: rotate(-45deg) translate(5px, -6px);
  }
  .main-content {
    width: 100%;
    float: none;
  }
  .main {
    padding-top: 0;
  }
  .main-content p {
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 0;
  }
  .advan-item img {
    max-height: 30px;
  }
  .advan-item {
    margin-right: 80px;
  }
  .advan,
  .showcase {
    margin-bottom: 15px;
  }
  .carousel__head {
    font-size: 18px;
  }
  .brends-item img {
    max-width: 80%;
  }
  .main-banner {
    margin-bottom: 28px;
  }
  .helper,
  .main-text,
  .footer-adult {
    display: none;
  }
  .footer-nav ul a,
  .footer-info p,
  .footer-info a.footer-info__email,
  .copy,
  .omg,
  .omg a,
  .check p,
  .check a {
    font-size: 12px;
  }
  .footer-nav ul {
    margin-right: 69px;
  }
  .footer {
    padding: 23px 0 10px;
  }
  .footer-line {
    padding: 10px 0;
  }
  .catalog-content {
    width: 734px;
  }
  .catalog-popular {
    display: none;
  }
  .sort-item span {
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
  }
  .sort-item a {
    margin-left: 0;
    margin-right: 15px;
  }
  .pagination {
    margin: 15px 0;
  }
  .catalog-products .carousel-item,
  .catalog-products .carousel-item:nth-child(5n){
    width: 32%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
  }
  .catalog-products .carousel-item:nth-child(3n) {
    margin-right: 0;
  }
  .catalog-text {
    display: none;
  }
  .product-gallery {
    width: 342px;
  }
  .product-gallery-slider {
    padding: 0 6px;
  }
  .product-info {
    width: 310px;
    margin-left: 15px;
  }
  .product-info__head {
    font-size: 24px;
  }
  .product-info-header span,
  .product-info-header a,
  .product-info-item__head,
  .product-info-item p,
  .product-info-item li{
    font-size: 12px;
  }
  .product-info-item {
    margin-bottom: 18px;
  }
  .product-info-header {
    padding-bottom: 8px;
  }
  .product-info-table td {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .product-sidebar {
    width: 286px;
  }
  .product-category a {
    font-size: 12px;
  }
  .product-buy-links {
    text-align: center;
  }
  .product-buy-links a.product-buy__to-cart {
    margin-right: 0;
    margin-bottom: 14px;
  }
  .product-buy-best span {
    margin-right: 0;
    margin-bottom: 7px;
  }
  .product-video {
    display: none;
  }
  .address-content {
    width: 600px;
  }
  .address-item td:first-child {
    padding-left: 0;
    width: 150px;
  }
  .address-item td:nth-child(2) {
    width: auto;
    padding-right: 10px;
  }
  .cheque__link a {
    font-size: 14px;
  }
  .cheque {
    padding: 15px;
  }
  .cart-sidebar {
    width: 300px;
  }
  .cheque-table td:first-child {
    width: 180px;
  }
  .cart-content {
    width: 645px;
  }
  .cart-table td:nth-child(2) {
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .cart-table td:nth-child(3) {
    width: 87px;
  }
  .cart-table__head {
    font-size: 16px;
  }
  .coupon-info {
    padding-left: 17px;
  }
  .coupon-form button {
    margin-top: 10px;
  }
  .prize img {
    display: none;
  }
  .brief-content {
    width: 640px;
  }
  .brief-data {
    padding-right: 21px;
  }
  .cart2 .cart-sidebar .cheque:first-child .cheque-table tr td:last-child {
    font-size: 14px;
  }
  .cabinet-sidebar {
    width: 290px;
  }
  .cabinet-sidebar__head {
    font-size: 22px;
  }
  .cabinet-content {
    width: 655px;
  }
  .profile__text {
    display: block;
    margin-top: 20px;
  }
  .order-table td {
    width: 30%;
  }
  .order-progress li {
    margin-bottom: 10px;
  }
  .mobile-menu-nav {
    display: none;
  }
  .nav__link {
    font-size: 14px;
    padding: 13px 12px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .mobile-menu-nav {
    display: block;
    border-top: 1px solid #b1babf;
    padding-top: 15px;
  }
  .nav-wrap {
    display: none;
  }
  .burger-wrap {
    margin-right: 23px;
  }
  .advan-item {
    margin-right: 28px;
  }
  .main-banner img {
    display: none;
  }
  .brends {
    padding: 15px 0;
  }
  .footer-nav {
    float: none;
    margin-bottom: 10px;
  }
  .footer-info {
    float: none;
    padding: 10px 0;
    border-top: 1px solid #ff5a81;
    text-align: center;
  }
  .footer-tel {
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }
  .footer-info__email {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 40px;
  }
  .footer-soc {
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }
  .footer-info__tel {
    font-size: 22px;
    margin-bottom: 4px;
  }
  .social {
    margin-top: 4px;
  }
  .catalog-content {
    width: 524px;
  }
  .catalog-products .carousel-item,
  .catalog-products .carousel-item:nth-child(3n),
  .catalog-products .carousel-item:nth-child(5n){
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .catalog-products .carousel-item:nth-child(2n) {
    margin-right: 0;
  }
  .sort-item a {
    margin-right: 5px;
  }
  .product-info {
    width: 392px;
  }
  .product-sidebar {
    width: 100%;
  }
  .product-buy {
    display: inline-block;
    width: 30%;
    padding: 10px;
    vertical-align: top;
  }
  .product-buy-sale {
    width: 65px;
    font-size: 22px;
  }
  .product-buy-sizes a {
    margin-right: 8px;
  }
  .product-buy-header p {
    font-size: 12px;
  }
  .product-buy-header a {
    font-size: 10px;
    margin-top: 4px;
  }
  .product-advan {
    display: inline-block;
    vertical-align: top;
    border: none;
    border-radius: 0;
    width: 30%;
    margin-left: 2%;
    margin-bottom: 0;
  }
  .product-advan-item__img {
    width: 60px;
  }
  .product-advan-item {
    margin-bottom: 27.5px;
  }
  .product-advan-item p {
    width: 140px;
    font-size: 12px;
  }
  .product-advan-item p b {
    font-size: 12px;
  }
  .product-category {
    display: inline-block;
    width: 35%;
    margin-left: 2%;
  }
  .product-feedback {
    margin-bottom: 25px;
  }
  .product-sidebar {
    margin-bottom: 25px;
  }
  .address-sidebar {
    display: none;
  }
  .address-content {
    width: 100%;
  }
  .address-item td:first-child {
    width: auto;
  }
  .cart-content {
    width: 100%;
  }
  .cart-sidebar {
    width: 100%;  
  }
  .cheque {
    width: 300px;
    margin: 0 auto;
  }
  .brief-content {
    width: 100%;   
  }
  .cabinet-content {
    width: 100%;
    float: none;
  }
  .cabinet-sidebar {
    float: none;
    margin: 0 auto;
  }
  .cart-float {
    position: static !important;
    margin: 20px 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: auto;
    padding: 0 15px;
  }
  .top-banner,
  .favorites {
    display: none;
  }
  .mobile-search {
    margin-right: 0;
  }
  .logo {
    width: 138px;
    margin-top: 13px;
  }
  .showcase .slick-arrow,
  .showcase .slick-dots {
    display: none !important;
  }
  .advan {
    display: none;
  }
  .carousel-item-stars,
  .carousel-item-size,
  .carousel-item__old,
  .carousel-item__like {
    display: none;
  }
  .carousel-item-content {
    height: 114px;
  }
  .carousel-item {
    height: 380px;
  }
  .main-banner {
    margin-bottom: 0;
  }
  .carousel-item__img {
    height: 200px;
    line-height: 200px;
  }
  .carousel-item__name {
    font-size: 14px;
  }
  .footer-nav ul {
    margin-right: 0;
    width: 49%;
    padding-right: 10px;
    margin-bottom: 20px;
  }
  .footer-nav ul li a {
    line-height: 1.3;
  }
  .footer-tel,
  .footer-info__email,
  .footer-soc {
    display: block;
    text-align: center;
  }
  .footer-info__email {
    margin: 15px 0;
  }
  .omg {
    float: left;
    margin-top: 7px;
  }
  .catalog-sidebar-choosen {
    display: none;
  }
  .catalog-sidebar-nav {
    display: none;
  }
  .catalog-sidebar {
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -98px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .catalog-sidebar.active {
    opacity: 1;
    visibility: visible;
  }
  .catalog-header__head {
    margin-bottom: 0;
  }
  .catalog-header p {
    display: none;
  }
  .catalog-content {
    float: none;
    width: 100%;
  }
  .sort-item {
    width: 100%;
    float: none;
  }
  .sort {
    padding: 8px;
    position: relative;
  }
  .sort a {
    padding: 0 10px;
  }
  .filter-button {
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 24px;
    height: 21px;
    cursor: pointer;
    display: block;
  }
  .sort-item:last-child {
    padding-left: 40px;
  }
  .filter-button img {
    width: 100%;
  }
  .pagination__arrow {
    display: none;
  }
  .article-banners {
    display: none;
  }
  .article_second {
    margin-right: 0;
  }
  .product-gallery {
    width: 290px;
    float: none;
    margin: 0 auto;
  }
  .product-info {
    float: none;
    margin: 0 auto;
    width: 290px;
  }
  .product-info__img {
    display: none;
  }
  .product-info__status {
    top: 2px;
  }
  .product-info__head {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .product-sidebar {
    display: none;
  }
  .product-feedback {
    font-size: 14px;
    line-height: 1.2;
    padding: 10px;
  }
  .product-feedback a {
    font-size: 14px;
    line-height: 1.2;
  }
  .product-gallery-slider {
    display: none;
  }
  .copy {
    width: 100%;
  }
  .address-item td {
    font-size: 12px;
  }
  .address-item td:nth-child(2) {
    padding-right: 0;
  }
  .cart-table thead {
    display: none;
  }
  .cart-table td {
    display: block;
    width: 100% !important;
    padding: 5px 0 !important;
    border: none;
  }
  .cart-table__head {
    margin-bottom: 10px;
  }
  .cart-table td:nth-child(6) {
    text-align: center;
  }
  .coupon {
    height: auto;
    margin-bottom: 20px;
  }
  .coupon-content {
    height: auto;
    padding-bottom: 20px;
    width: 100%;
    border-radius: 0;
    padding: 15px;
  }
  .coupon-info {
    width: 100%;
    border-radius: 0;
    padding: 15px;
  }
  .coupon-form input,
  .coupon-form button,
  .coupon-form span {
    margin: 5px;
    vertical-align: middle;
  }
  .prize p {
    font-size: 16px;
  }
  .prize {
    margin-bottom: 20px;
  }
  .cart-sidebar {
    margin-bottom: 10px;
  }
  .cheque {
    width: 280px;
  }
  .brief-data,
  .brief-ways {
    display: block;
    margin: 0 auto 20px;
    max-width: 400px;
    width: auto;
  }
  .brief-ways-content {
    max-width: 89%;
  }
  .brief-deliver__address {
    display: block;
    line-height: 1.2;
    margin-top: 10px;
  }
  .brief-deliver {
    padding-bottom: 0;
  }
  .brief-deliver__choose {
    line-height: 1.2;
  }
  .cabinet-tabs {
    font-size: 0;
  }
  .cabinet-tabs-item {
    width: 50%;
    border: 1px solid #bfc9ce;
    border-radius: 0;
  }
  .order-progress li {
    margin: 7px !important;
  }
  .order-table td {
    display: block;
    text-align: center !important;
    width: 100%;
    padding-bottom: 10px;
    padding-right: 0 !important; 
  }
  .profile-inputs {
    margin-right: 0;
  }
  .profile__input input {
    width: 100%;
  }
  .modal {
    width: 280px;
    padding: 20px 10px;
  }
}
