@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1; }

*:focus {
  outline: none; }

body {
  font: 400 14px/1 'Roboto', sans-serif;
  color: #43525a;
  background: #f7f7f7;
  padding-bottom: 38px; }

a {
  font: 400 14px/1 'Roboto', sans-serif;
  color: #43525a;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1; }
  a:hover, a:focus {
    text-decoration: none; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

a img {
  border: none;
  outline: none; }

.cf:after {
  display: block;
  content: '';
  clear: both; }

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative; }

/* Top banner */
.top-banner {
  position: relative; }
  .top-banner__close {
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 3;
    background: url(../images/top-baner-close.png) no-repeat 50%;
    width: 32px;
    height: 32px; }
  .top-banner img {
    vertical-align: bottom; }

/* Header */
.info {
  padding-bottom: 17px; }
  .info-wrap {
    background: #fff; }
  .info-nav {
    float: left;
    margin-right: 110px;
    margin-top: 21px; }
    .info-nav li {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-right: 24px; }
      .info-nav li:after {
        content: '';
        display: block;
        width: 1px;
        height: 13px;
        background: #43525a;
        position: absolute;
        top: 0;
        right: -14px; }
      .info-nav li:last-child {
        margin-right: 0; }
        .info-nav li:last-child:after {
          display: none; }
      .info-nav li a {
        text-decoration: underline; }
        .info-nav li a:hover {
          color: #e50d40; }
  .info-callback {
    float: left;
    margin-top: 15px; }
    .info-callback__tel {
      display: inline-block;
      vertical-align: middle;
      color: #e50d40;
      font: bold 24px/1 'Roboto Slab';
      margin-right: 58px; }
    .info-callback-item {
      display: inline-block;
      vertical-align: middle;
      position: relative; }
      .info-callback-item:last-child {
        margin-left: 50px; }
      .info-callback-item a {
        text-decoration: underline; }
        .info-callback-item a:hover {
          color: #e50d40; }
      .info-callback-item img {
        position: absolute;
        left: -23px;
        top: -9px; }

.burger-wrap {
  display: none;
  position: relative;
  z-index: 3; }

.log-in {
  float: right;
  margin-top: 20px; }
  .log-in li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 24px; }
    .log-in li:after {
      content: '';
      display: block;
      width: 1px;
      height: 13px;
      background: #43525a;
      position: absolute;
      top: 0;
      right: -14px; }
    .log-in li:last-child {
      margin-right: 0; }
      .log-in li:last-child:after {
        display: none; }
    .log-in li a {
      text-decoration: underline; }
      .log-in li a:hover {
        color: #e50d40; }

.logo {
  margin: 20px 60px 0 0;
  float: left; }
  .logo a {
    display: inline-block;
    vertical-align: middle; }
  .logo p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
    line-height: 1.3; }

.header {
  padding-bottom: 19px; }
  .header-wrap {
    position: relative; }

.mobile-search {
  display: none; }

.search {
  float: left;
  width: 450px;
  position: relative;
  margin: 29px 0 0 0; }
  .search input {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 1px solid #b1babf;
    border-radius: 4px;
    font: 400 16px 'Roboto';
    padding: 0 50px 0 20px; }
    .search input::-webkit-input-placeholder {
      color: #839097; }
    .search input:-moz-placeholder {
      color: #839097; }
    .search input::-moz-placeholder {
      color: #839097; }
    .search input:-ms-input-placeholder {
      color: #839097; }
  .search button {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 45px;
    background: #e50d40 url(../images/magnifier.png) no-repeat 50%;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: 300ms; }
    .search button:hover {
      background-color: #c90937; }

.header-info {
  float: right;
  margin-top: 34px; }
  .header-info-item {
    position: relative;
    display: inline-block;
    vertical-align: top; }
    .header-info-item:last-child {
      margin-left: 60px; }
    .header-info-item img {
      position: absolute;
      left: -36px;
      top: -8px; }
    .header-info-item p {
      margin-bottom: 7px; }
      .header-info-item p span {
        width: 69px;
        display: inline-block; }
    .header-info-item b {
      font-size: 16px; }

/* Mobile menu */
.mobile-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  min-height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: 300ms; }
  .mobile-menu .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(177, 186, 191, 0.8);
    z-index: 50; }
  .mobile-menu.active {
    opacity: 1;
    visibility: visible; }
  .mobile-menu-content {
    background: #fff;
    width: 260px;
    padding: 0 20px;
    height: 100%;
    padding-bottom: 100px;
    position: relative;
    z-index: 60; }
  .mobile-menu-callback {
    padding: 24px 0 21px;
    text-align: right; }
    .mobile-menu-callback a {
      font-size: 12px;
      text-decoration: underline;
      position: relative; }
      .mobile-menu-callback a:hover {
        text-decoration: none; }
      .mobile-menu-callback a:before {
        content: '';
        display: block;
        background: url(../images/phone.png) no-repeat 50%;
        width: 15px;
        height: 15px;
        left: -27px;
        top: -3px;
        position: absolute; }
  .mobile-menu-login {
    padding: 24px 0;
    border-top: 1px solid #b1babf; }
    .mobile-menu-login li {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-right: 24px; }
      .mobile-menu-login li:after {
        content: '';
        display: block;
        width: 1px;
        height: 13px;
        background: #43525a;
        position: absolute;
        top: 0;
        right: -14px; }
      .mobile-menu-login li:last-child {
        margin-right: 0; }
        .mobile-menu-login li:last-child:after {
          display: none; }
      .mobile-menu-login li a {
        text-decoration: underline; }
        .mobile-menu-login li a:hover {
          color: #e50d40; }
  .mobile-menu .main-sidebar-nav-item.active .main-sidebar-nav-links {
    display: block; }
  .mobile-menu .main-sidebar-nav-item .main-sidebar-nav-links {
    display: none; }
  .mobile-menu-links {
    padding-top: 17px;
    border-top: 1px solid #b1babf; }
    .mobile-menu-links a {
      text-decoration: underline;
      display: block;
      margin-bottom: 12px;
      font-size: 12px; }
      .mobile-menu-links a:hover {
        text-decoration: none; }

/* Nav */
.nav {
  background-image: linear-gradient(to top, #43525a 0%, #839097 100%);
  border-radius: 4px; }
  .nav-main {
    text-align: center;
    font-size: 0; }
  .nav__list {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-right: 1px solid #6c7a81; }
    .nav__list:last-child {
      border-right: 0; }
    .nav__list:hover .nav__link {
      color: #2a3338;
      background-image: linear-gradient(to top, #b1bcc3 0%, #d9e6ee 98%, #d9e6ee 100%); }
    .nav__list:hover .nav-sub {
      opacity: 1;
      z-index: 150;
      visibility: visible; }
  .nav__link {
    width: 100%;
    font: 700 18px 'Roboto Slab';
    padding: 15px 22px;
    color: #fff; }
    .nav__link_active {
      background-image: linear-gradient(to top, #980a3f 0%, #f10a32 100%); }
  .nav-sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    background: #b1bcc3;
    text-align: left;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: 300ms; }
    .nav-sub ul {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding: 15px 23px 25px; }
      .nav-sub ul li,
      .nav-sub ul a {
        color: #2a3338;
        font-size: 12px; }
      .nav-sub ul li {
        font-weight: bold;
        margin-bottom: 11px; }
      .nav-sub ul a:hover {
        text-decoration: underline; }

/* Sidebar */
.main-sidebar {
  float: left;
  width: 196px; }
  .main-sidebar-nav__head {
    font: 700 16px/1 'Roboto Slab';
    margin-bottom: 11px; }
    .main-sidebar-nav__head:hover {
      text-decoration: underline; }
  .main-sidebar-nav-links {
    padding: 0 0 25px 11px; }
    .main-sidebar-nav-links li {
      margin-bottom: 9px; }
    .main-sidebar-nav-links a {
      text-decoration: underline;
      line-height: 1.2; }
      .main-sidebar-nav-links a:hover {
        text-decoration: none; }
  .main-sidebar__banner {
    margin-top: 20px; }

/* Main */
.main {
  padding-top: 40px; }
  .main-content {
    width: 1109px;
    float: right; }

/* Showcase */
.showcase {
  position: relative;
  margin-bottom: 27px; }
  .showcase-item.mob {
    display: none; }
  .showcase .slick-arrow {
    background: url(../images/showcase-arrows.png) no-repeat 0;
    width: 35px;
    height: 70px;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -35px;
    z-index: 5; }
  .showcase .slick-next {
    background-position: 100%;
    left: auto;
    right: 0; }
  .showcase .slick-dots {
    position: absolute;
    left: 20px;
    top: 20px; }
    .showcase .slick-dots button {
      display: none; }
    .showcase .slick-dots li {
      width: 14px;
      height: 14px;
      border: 1px solid #fff;
      cursor: pointer;
      border-radius: 50%;
      transition: 300ms;
      display: inline-block;
      vertical-align: top;
      margin-right: 13px; }
      .showcase .slick-dots li.slick-active {
        background: #fff; }

/* Advan */
.advan {
  font-size: 0;
  margin-bottom: 40px; }
  .advan-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 70px; }
    .advan-item:last-child {
      margin-right: 0; }
    .advan-item__img {
      margin-right: 14px;
      display: inline-block;
      vertical-align: middle; }
    .advan-item p {
      line-height: 1.4;
      font: 700 16px 'Roboto Slab';
      display: inline-block;
      vertical-align: middle; }

/* Carousel */
.carousel__head {
  border-top: 1px solid #e50d40;
  margin-left: 20px;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto Slab';
  padding: 16px 0 11px; }

.carousel-wrap {
  margin-left: -20px; }

.carousel-item {
  width: 197px;
  height: 460px;
  background-color: #fff;
  position: relative;
  padding: 11px;
  z-index: 5;
  margin: 9px 1px 9px 19px; }
  .carousel-item:before {
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border: 1px solid #d4dade;
    transition: 300ms;
    background: #fff;
    border-radius: 4px;
    z-index: -1; }
  .carousel-item:hover:before {
    top: -9px;
    bottom: -9px;
    border: 2px solid #e50d40; }
  .carousel-item__img {
    height: 250px;
    line-height: 250px;
    text-align: center;
    display: block;
    margin-bottom: 9px; }
    .carousel-item__img img {
      vertical-align: middle;
      display: inline-block !important; }
  .carousel-item__name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.2; }
    .carousel-item__name:hover {
      text-decoration: underline; }
  .carousel-item__sub-name {
    font-size: 12px;
    margin-bottom: 8px;
    line-height: 1.2; }
    .carousel-item__sub-name:hover {
      text-decoration: underline; }
  .carousel-item__new {
    color: #e50d40;
    font-size: 22px;
    font-weight: bold;
    float: left; }
  .carousel-item__old {
    color: #b1babf;
    font-weight: 700;
    text-decoration: line-through;
    float: right;
    margin-top: 7px;
    font-size: 14px; }
  .carousel-item-content {
    height: 94px; }
  .carousel-item-stars {
    margin-bottom: 10px; }
    .carousel-item-stars i {
      font-size: 12px;
      margin-right: 3px;
      color: #faa61a; }
      .carousel-item-stars i.deactive {
        color: #b1babf; }
    .carousel-item-stars span {
      display: inline-block;
      font-size: 12px;
      vertical-align: middle;
      margin-left: 3px; }
    .carousel-item-stars img {
      float: right;
      margin-top: -1px; }
  .carousel-item-size {
    font-size: 12px;
    margin-bottom: 10px; }
    .carousel-item-size span {
      display: inline-block;
      vertical-align: middle; }
    .carousel-item-size__item {
      font-weight: bold;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle; }
      .carousel-item-size__item.deactive {
        color: #b1babf; }
  .carousel-item__link {
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    line-height: 25px;
    padding: 0 27px;
    border-radius: 25px;
    background: #b1babf;
    display: inline-block;
    vertical-align: middle; }
    .carousel-item__link:hover {
      background: #e50d40; }
  .carousel-item__like {
    float: right;
    margin: 7px 4px 0 0; }
    .carousel-item__like:hover i {
      color: #e50d40; }
    .carousel-item__like i {
      font-size: 13px;
      color: #b1babf;
      transition: 300ms; }
  .carousel-item__hit {
    position: absolute;
    font-size: 14px;
    left: 0px;
    top: 11px;
    background: url(../images/hit.png) no-repeat 50%;
    line-height: 25px;
    color: #f7f7f7;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 55px; }
  .carousel-item__sale {
    position: absolute;
    right: 11px;
    top: 9px;
    color: #f7f7f7;
    font-size: 18px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #e50d40;
    text-align: center;
    line-height: 42px; }
    .carousel-item__sale span {
      font-size: 12px; }

.carousel .slick-arrow {
  background: url(../images/carousel-arrows.png) no-repeat 0;
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: 300ms;
  border: none;
  position: absolute;
  right: 30px;
  top: -33px;
  opacity: .5; }
  .carousel .slick-arrow:hover {
    opacity: 1; }

.carousel .slick-next {
  background-position: 100%;
  right: 0; }

/* Brends */
.brends {
  padding: 25px 0 60px; }
  .brends-wrap {
    margin-top: 30px; }
  .brends__head {
    border-top: 1px solid #e50d40;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto Slab';
    padding: 16px 0 11px; }
  .brends .slick-arrow {
    background: url(../images/carousel-arrows.png) no-repeat 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 300ms;
    border: none;
    position: absolute;
    right: 30px;
    top: -33px;
    opacity: .5; }
    .brends .slick-arrow:hover {
      opacity: 1; }
  .brends .slick-next {
    background-position: 100%;
    right: 0; }
  .brends-item {
    text-align: center; }
    .brends-item:hover img {
      filter: grayscale(0); }
    .brends-item img {
      display: inline-block;
      transition: 300ms;
      filter: grayscale(1); }

/* Main banner */
.main-banner {
  margin-bottom: 60px; }

/* Helper */
.helper {
  margin: 50px 0;
  padding: 25px 60px 25px 40px;
  background-color: #fff;
  border: 1px solid #d4dade;
  border-radius: 4px; }
  .helper__head {
    color: #e50d40;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Roboto Slab'; }
  .helper__caption {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto Slab';
    margin-bottom: 7px; }
  .helper-content {
    float: left;
    width: 57%;
    padding-top: 42px; }
    .helper-content li {
      font-size: 24px;
      font-family: 'Roboto Slab';
      padding-left: 57px;
      position: relative; }
      .helper-content li:first-child {
        margin-bottom: 42px; }
      .helper-content li:before {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background: #e50d40;
        position: absolute;
        left: 0;
        top: 11px; }
  .helper-form {
    float: left; }
  .helper-sex {
    text-align: center;
    margin-bottom: 25px; }
    .helper-sex-item {
      width: 133px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer; }
      .helper-sex-item.active .helper-sex-item__img {
        opacity: 1; }
      .helper-sex-item.active p {
        color: #e50d40; }
      .helper-sex-item__img {
        opacity: .3;
        transition: 300ms;
        height: 70px; }
      .helper-sex-item p {
        font-size: 12px; }
  .helper-slider {
    margin-bottom: 42px;
    height: 8px;
    background-color: #b1babf;
    position: relative;
    border-radius: 8px; }
    .helper-slider .ui-slider-handle {
      width: 16px;
      height: 16px;
      margin-left: -10px;
      border-radius: 50%;
      background: #e50d40;
      display: block;
      position: absolute;
      margin-top: -4px; }
      .helper-slider .ui-slider-handle:before {
        content: '';
        display: block;
        position: absolute;
        left: -5px;
        border-radius: 50%;
        right: -5px;
        top: -5px;
        bottom: -5px;
        background: rgba(229, 13, 64, 0.2); }
    .helper-slider .ui-slider-range {
      background-color: #e50d40;
      height: 8px;
      position: absolute; }
    .helper-slider-amount {
      text-align: center;
      color: #839097;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 6px; }
  .helper__button {
    text-align: center; }
    .helper__button button {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      line-height: 40px;
      padding: 0 30px;
      border-radius: 40px;
      cursor: pointer;
      border: none;
      transition: 300ms; }
      .helper__button button:hover {
        background: #e50d40; }

/* Main text */
.main-text {
  padding-bottom: 30px; }
  .main-text h3 {
    font: bold 18px/1.3 'Roboto Slab';
    margin-bottom: 27px; }
  .main-text p {
    margin-bottom: 27px;
    line-height: 1.5; }

/* Footer */
.footer {
  padding: 30px 0 20px; }
  .footer-wrap {
    background: #e50d40;
    color: #fff; }
  .footer-adult {
    float: left;
    width: 220px;
    padding-right: 120px; }
    .footer-adult__num {
      width: 70px;
      height: 70px;
      background-color: #43525a;
      border-radius: 50%;
      color: #fff;
      font-size: 34px;
      font-weight: bold;
      line-height: 70px;
      text-align: center; }
    .footer-adult__text {
      line-height: 1.7;
      margin-top: 11px; }
  .footer-nav {
    float: left; }
    .footer-nav ul {
      display: inline-block;
      vertical-align: top;
      margin-right: 83px; }
      .footer-nav ul:last-child {
        margin-right: 0; }
      .footer-nav ul li {
        margin-bottom: 8px; }
        .footer-nav ul li:first-child {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 15px; }
      .footer-nav ul a {
        color: #fff; }
        .footer-nav ul a:hover {
          text-decoration: underline; }
  .footer-info {
    float: right; }
    .footer-info__tel {
      color: #fff;
      font: 700 28px/1 'Roboto Slab';
      margin-bottom: 8px; }
    .footer-info__email {
      text-decoration: underline;
      color: #fff;
      margin: 30px 0; }
  .footer-line {
    border-top: 1px solid #ff5a81;
    padding: 15px 0;
    color: #fff; }
    .footer-line a {
      color: #fff; }

.copy {
  float: left; }

.omg {
  float: right; }
  .omg a {
    text-decoration: underline; }
    .omg a:hover {
      text-decoration: none; }

.social {
  margin-top: 11px; }
  .social a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; }

.check {
  background: #43525a;
  padding: 12px 0;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500; }
  .check p {
    display: inline-block;
    vertical-align: middle; }
  .check a {
    margin-left: 23px;
    color: #fff;
    display: inline-block;
    vertical-align: middle; }
    .check a:hover {
      text-decoration: underline; }
    .check a.check__no {
      color: #839097;
      text-decoration: underline; }
      .check a.check__no:hover {
        text-decoration: none; }

/* Bread */
.bread {
  padding: 20px 0;
  border-bottom: 2px solid #e50d40; }
  .bread li {
    display: inline-block;
    vertical-align: middle;
    color: #43525a;
    font-size: 12px; }
    .bread li:after {
      content: '>';
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      line-height: 17px;
      color: #b1babf;
      font-size: 12px; }
    .bread li:last-child:after {
      display: none; }
    .bread li a {
      color: #b1babf;
      font-size: 12px; }
      .bread li a:hover {
        text-decoration: underline; }

.catalog-header {
  padding: 15px 0; }
  .catalog-header__head {
    font: bold 18px 'Roboto Slab';
    margin-bottom: 15px; }
  .catalog-header p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.4; }
    .catalog-header p a {
      text-decoration: underline; }
      .catalog-header p a:hover {
        text-decoration: none; }

.catalog-sidebar {
  float: left;
  width: 196px; }
  .catalog-sidebar-choosen {
    margin-bottom: 42px;
    color: #e50d40;
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 18px; }
    .catalog-sidebar-choosen span {
      font-size: 14px;
      display: block;
      margin-bottom: 4px; }
  .catalog-sidebar-nav-item {
    margin-bottom: 30px; }
    .catalog-sidebar-nav-item.active .catalog-sidebar-nav-links {
      display: block; }
  .catalog-sidebar-nav__head {
    font: 700 16px 'Roboto Slab'; }
    .catalog-sidebar-nav__head:hover {
      text-decoration: underline; }
  .catalog-sidebar-nav-links {
    display: none; }
    .catalog-sidebar-nav-links li {
      margin-top: 10px;
      padding-left: 10px; }
      .catalog-sidebar-nav-links li.active a {
        color: #e50d40; }
      .catalog-sidebar-nav-links li a {
        text-decoration: underline; }
        .catalog-sidebar-nav-links li a:hover {
          text-decoration: none; }
  .catalog-sidebar-nav__all {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    line-height: 25px;
    padding: 0 15px;
    background: #b1babf;
    border-radius: 25px; }
    .catalog-sidebar-nav__all:hover {
      background: #e50d40; }

.catalog-content {
  width: 1109px;
  float: right; }

.catalog-popular {
  margin-bottom: 20px; }
  .catalog-popular span {
    font: 700 14px 'Roboto Slab';
    display: inline-block;
    margin-right: 9px; }
  .catalog-popular a {
    color: #e50d40;
    text-decoration: underline;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 7px; }
    .catalog-popular a:hover {
      text-decoration: none; }

.catalog-products {
  font-size: 0; }
  .catalog-products .carousel-item {
    display: inline-block;
    vertical-align: top;
    width: 18.5%;
    margin-right: 1.8%;
    margin-left: 0; }
    .catalog-products .carousel-item:nth-child(5n) {
      margin-right: 0; }

.catalog-text {
  padding-bottom: 20px; }
  .catalog-text p {
    line-height: 1.5;
    margin-bottom: 28px; }

.filters {
  margin-top: 15px;
  background: #fff;
  border: 1px solid #d4dade;
  border-radius: 4px;
  padding: 17px 10px 0;
  margin-bottom: 30px; }
  .filters-item {
    margin-bottom: 30px; }
  .filters__head-main {
    font: 700 16px 'Roboto Slab';
    margin-bottom: 24px; }
  .filters__head {
    margin-bottom: 10px;
    font-size: 14px; }
  .filters-inputs {
    margin-bottom: 32px; }
    .filters-inputs input {
      display: inline-block;
      vertical-align: middle;
      width: 70px;
      height: 30px;
      background-color: #d4dade;
      text-align: center;
      border-radius: 30px;
      border: none;
      font-weight: bold;
      color: #43525a; }
    .filters-inputs span {
      margin: 0 10px;
      display: inline-block;
      vertical-align: middle; }
  .filters-slider {
    height: 5px;
    background-color: #d4dade;
    border-radius: 5px;
    position: relative; }
    .filters-slider .ui-slider-handle {
      width: 10px;
      height: 10px;
      background-color: #e50d40;
      border-radius: 50%;
      margin-left: -5px;
      position: absolute;
      top: -3px; }
    .filters-slider .ui-slider-range {
      position: absolute;
      height: 100%;
      background-color: #e50d40; }
  .filters-choose {
    margin-bottom: 12px; }
    .filters-choose > span {
      display: inline-block;
      vertical-align: middle;
      max-width: 150px;
      line-height: 1.4;
      font-size: 12px; }
  .filters-checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid #b1babf;
    border-radius: 3px;
    position: relative; }
    .filters-checkbox input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: 5;
      cursor: pointer; }
      .filters-checkbox input:checked + span {
        background: #e50d40; }
    .filters-checkbox span {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transition: 300ms; }

.sort {
  background-color: #fff;
  border: 1px solid #d4dade;
  border-radius: 4px;
  padding: 12px; }
  .sort-item:first-child {
    float: left; }
  .sort-item:last-child {
    float: right; }
  .sort-item span {
    font: bold 14px 'Roboto Slab';
    display: inline-block;
    vertical-align: middle; }
  .sort-item a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    line-height: 25px;
    padding: 0 15px;
    background: #b1babf;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px; }
    .sort-item a.active, .sort-item a:hover {
      background: #e50d40; }
  .sort__arrow {
    padding-right: 32px !important;
    position: relative; }
    .sort__arrow:before {
      content: '';
      display: block;
      background: url(../images/sort-arrow.png) no-repeat 50%;
      position: absolute;
      right: 12px;
      top: 8px;
      width: 10px;
      height: 8px; }

.pagination {
  text-align: center;
  margin: 30px 0; }
  .pagination__arrow {
    background: url(../images/carousel-arrows.png) no-repeat 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 300ms;
    border: none;
    display: inline-block;
    vertical-align: middle;
    opacity: .5;
    margin-right: 20px; }
    .pagination__arrow:hover {
      opacity: 1; }
  .pagination__next {
    background-position: 100%;
    margin-right: 0;
    margin-left: 20px; }
  .pagination li {
    display: inline-block;
    vertical-align: middle; }
    .pagination li:after {
      content: '|';
      display: inline-block;
      vertical-align: middle;
      margin: 0 9px; }
    .pagination li.pagination__first:after, .pagination li.pagination__last:after, .pagination li:nth-last-child(2):after {
      display: none; }
    .pagination li a {
      color: #b1babf;
      text-decoration: underline; }
      .pagination li a:hover {
        color: inherit;
        text-decoration: none; }

.filter-button {
  display: none; }

.another {
  margin-bottom: 40px; }

/* Article */
.article {
  padding-top: 18px; }
  .article h1 {
    font: bold 22px 'Roboto Slab';
    margin-bottom: 27px;
    line-height: 1.2; }
  .article h3 {
    font: bold 18px 'Roboto Slab';
    margin-bottom: 27px;
    line-height: 1.2; }
  .article p {
    margin-bottom: 27px;
    line-height: 1.4; }
  .article img {
    margin-bottom: 27px; }
  .article_second {
    margin-right: 250px; }
  .article-banners {
    float: right;
    width: 200px;
    margin-top: 71px; }
    .article-banners a {
      margin-bottom: 55px; }

/* Product */
.product {
  padding-top: 27px; }
  .product-gallery {
    float: left;
    width: 538px; }
    .product-gallery__main {
      width: 100%;
      border: 1px solid #d4dade;
      border-radius: 5px; }
      .product-gallery__main img {
        vertical-align: bottom;
        border-radius: 5px; }
    .product-gallery-slider {
      margin-top: 17px;
      padding: 0 30px; }
      .product-gallery-slider .slick-arrow {
        background: url(../images/product-arrows.png) no-repeat 0;
        width: 11px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        cursor: pointer;
        border: none; }
      .product-gallery-slider .slick-next {
        background-position: 100%;
        left: auto;
        right: 0; }
    .product-gallery-item {
      display: block;
      text-align: center;
      border: 1px solid #d4dade;
      border-radius: 4px;
      margin: 0 9px;
      opacity: .5;
      transition: 300ms; }
      .product-gallery-item:hover, .product-gallery-item.active {
        opacity: 1; }
      .product-gallery-item img {
        display: inline-block !important;
        vertical-align: bottom;
        border-radius: 4px; }
  .product-video {
    margin-top: 40px; }
  .product-info {
    float: left;
    margin-left: 30px;
    width: 422px; }
    .product-info__head {
      font: bold 28px/1.2 'Roboto Slab';
      margin-bottom: 3px; }
    .product-info__descr {
      font-size: 14px;
      font-weight: 400; }
    .product-info-header {
      position: relative;
      padding-bottom: 20px;
      border-bottom: 1px solid #b1babf; }
      .product-info-header span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px; }
      .product-info-header a {
        display: inline-block;
        vertical-align: middle;
        color: #e50d40;
        font-weight: bold;
        text-decoration: underline; }
        .product-info-header a:hover {
          text-decoration: none; }
    .product-info__img {
      height: 37px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      line-height: 37px; }
    .product-info__status {
      position: absolute;
      top: 14px;
      right: 0;
      color: #e50d40;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold; }
    .product-info-table {
      width: 100%;
      border-collapse: collapse;
      margin: 24px 0 10px; }
      .product-info-table td {
        width: 50%;
        padding-bottom: 19px; }
        .product-info-table td:first-child {
          font-weight: bold; }
    .product-info-items {
      border-top: 1px solid #b1babf;
      padding-top: 22px; }
    .product-info-item {
      margin-bottom: 40px; }
      .product-info-item__head {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 15px; }
      .product-info-item p {
        line-height: 1.5; }
      .product-info-item li {
        line-height: 1.5; }
        .product-info-item li:before {
          content: '•';
          margin-right: 3px;
          display: inline-block; }
  .product-sidebar {
    float: right;
    width: 311px;
    margin-bottom: 50px; }
  .product-buy {
    background-color: #d4dade;
    border: 1px solid #d4dade;
    border-radius: 4px 4px 0 0;
    padding: 18px; }
    .product-buy-header p {
      display: inline-block;
      vertical-align: middle;
      font: bold 14px/1 'Roboto Slab'; }
    .product-buy-header a {
      float: right;
      font-size: 12px;
      text-decoration: underline;
      margin-top: 1px; }
      .product-buy-header a:hover {
        text-decoration: none; }
    .product-buy-sizes {
      margin: 15px 0; }
      .product-buy-sizes a {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        margin-right: 18px;
        background-color: #b1babf;
        width: 35px;
        color: #fff;
        font: bold 14px/35px 'Roboto Slab';
        text-align: center; }
        .product-buy-sizes a:hover, .product-buy-sizes a.active {
          background: #e50d40; }
        .product-buy-sizes a:last-child {
          margin-right: 0; }
    .product-buy-price {
      margin-bottom: 17px; }
      .product-buy-price > span {
        display: inline-block;
        vertical-align: top;
        font: bold 14px/1 'Roboto Slab';
        margin-right: 8px; }
      .product-buy-price_one > span {
        vertical-align: bottom;
        margin-bottom: 2px; }
    .product-buy-prices {
      display: inline-block;
      vertical-align: top; }
      .product-buy-prices span {
        font: bold 14px/1 'Roboto Slab';
        text-decoration: line-through;
        margin-bottom: 4px;
        display: block; }
      .product-buy-prices p {
        color: #e50d40;
        margin-top: 0px;
        font: bold 22px/1 'Roboto Slab';
        display: inline-block;
        vertical-align: bottom; }
    .product-buy-sale {
      background: #43525a;
      font: bold 28px/1 'Roboto Slab';
      width: 100px;
      line-height: 50px;
      background-color: #43525a;
      border-radius: 4px;
      text-align: center;
      position: relative;
      color: #fff;
      float: right;
      margin-top: -3px; }
      .product-buy-sale:before, .product-buy-sale:after {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        background-color: #43525a;
        position: absolute;
        left: -10px;
        top: 50%;
        margin-top: -10px;
        border-radius: 50%; }
      .product-buy-sale:after {
        left: auto;
        right: -10px; }
    .product-buy-best {
      margin-bottom: 23px; }
      .product-buy-best span {
        color: #e50d40;
        font: bold 14px/1 'Roboto Slab';
        display: inline-block;
        margin-right: 10px; }
      .product-buy-best a {
        color: #43525a;
        vertical-align: middle;
        display: inline-block;
        font-size: 12px;
        text-decoration: underline; }
        .product-buy-best a:hover {
          text-decoration: none; }
    .product-buy-links a {
      display: inline-block;
      vertical-align: middle;
      color: #43525a;
      font: bold 12px/1 'Roboto Slab';
      text-decoration: underline; }
      .product-buy-links a:hover {
        text-decoration: none; }
      .product-buy-links a.product-buy__to-cart {
        text-decoration: none;
        line-height: 40px;
        color: #fff;
        font-size: 14px;
        padding: 0 25px;
        background: #e50d40;
        border-radius: 40px;
        margin-right: 15px; }
  .product-advan {
    border: 1px solid #d4dade;
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding-top: 18px;
    margin-bottom: 30px; }
    .product-advan-item {
      margin-bottom: 17px; }
      .product-advan-item__img {
        width: 96px;
        display: inline-block;
        vertical-align: middle;
        text-align: center; }
      .product-advan-item p {
        display: inline-block;
        vertical-align: middle;
        width: 175px;
        line-height: 1.3; }
        .product-advan-item p b {
          font-weight: 700;
          text-transform: uppercase; }
  .product-category__head {
    font: bold 14px/1 'Roboto Slab';
    margin-bottom: 15px; }
  .product-category a {
    display: inline-block;
    color: #e50d40;
    margin-right: 7px;
    margin-bottom: 11px;
    text-decoration: underline; }
    .product-category a:hover {
      text-decoration: none; }
  .product-feedback {
    max-width: 1108px;
    background-color: #d4dade;
    margin: 0 auto 60px;
    border-radius: 60px;
    text-align: center;
    font: bold 18px/50px 'Roboto Slab'; }
    .product-feedback a {
      text-decoration: underline;
      font: bold 18px/1 'Roboto Slab'; }
      .product-feedback a:hover {
        text-decoration: none; }
    .product-feedback-form {
      margin: 60px 0 30px; }
      .product-feedback-form form {
        width: 650px;
        margin: 0 auto; }
      .product-feedback-form input,
      .product-feedback-form textarea {
        font-family: inherit;
        color: #838f97;
        font-size: 14px;
        font-weight: 400;
        background-color: #fff;
        border: 1px solid #bfc9ce;
        border-radius: 4px;
        height: 40px;
        padding: 0 15px; }
      .product-feedback-form textarea {
        resize: none;
        padding-top: 10px;
        width: 100%;
        height: 80px;
        margin-bottom: 20px; }
      .product-feedback-form input {
        width: 48%; }
        .product-feedback-form input:first-child {
          margin-right: 4%; }
      .product-feedback-form button {
        background: #e50d40;
        border-radius: 50px;
        text-transform: uppercase;
        color: #f7f7f7;
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
        padding: 0 50px;
        border: none;
        cursor: pointer;
        transition: 300ms; }
        .product-feedback-form button:hover {
          background: #cc0b39; }
      .product-feedback-form p {
        font-size: 12px;
        color: #889da8;
        margin: 17px 0; }
    .product-feedback-input {
      font-size: 0; }
    .product-feedback-rating {
      margin-bottom: 17px; }
      .product-feedback-rating span {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px; }
      .product-feedback-rating i {
        font-size: 20px;
        color: #faa61a;
        margin-right: 7px;
        display: inline-block;
        vertical-align: middle; }
    .product-feedback-items {
      border-top: 1px solid #e50d40;
      padding: 30px 0 100px; }
    .product-feedback-item {
      position: relative;
      width: 650px;
      margin: 0 auto 20px; }
    .product-feedback-author {
      position: absolute;
      left: -115px;
      width: 115px;
      top: 12px; }
      .product-feedback-author p {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2; }
      .product-feedback-author i {
        font-size: 12px;
        color: #faa61a; }
    .product-feedback-text {
      height: 80px;
      background-color: #fff;
      border: 1px solid #bfc9ce;
      border-radius: 3px;
      padding: 12px;
      line-height: 1.5;
      font-size: 14px; }

/* Address */
.address {
  padding-top: 15px;
  padding-bottom: 30px; }
  .address-content {
    float: left;
    width: 990px; }
  .address-map iframe {
    border-radius: 4px;
    height: 600px;
    width: 100%;
    border: none; }
  .address__head {
    font: bold 22px/1 'Roboto Slab';
    margin-bottom: 32px; }
  .address-items {
    margin-bottom: 20px; }
  .address-item {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 23px; }
    .address-item__head {
      color: #e50d40;
      font: bold 18px/1 'Roboto Slab';
      margin-bottom: 20px; }
    .address-item td {
      line-height: 1.5;
      vertical-align: top; }
      .address-item td:first-child {
        font-weight: bold;
        padding-left: 28px;
        width: 320px; }
      .address-item td:nth-child(2) {
        width: 320px; }
  .address-sidebar {
    float: right;
    width: 311px; }
  .address-links {
    font-size: 0; }
    .address-links a {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 20px;
      line-height: 25px;
      background: #e50d40;
      width: 50%;
      text-align: center; }
      .address-links a:last-child {
        background: #b1babf;
        position: relative; }
        .address-links a:last-child:before {
          content: '';
          display: block;
          width: 50px;
          background: inherit;
          position: absolute;
          left: -8px;
          z-index: -1;
          top: 0;
          height: 100%; }
  .address-options {
    background-color: #fff;
    border: 1px solid #b5c1c8;
    border-radius: 4px;
    padding: 14px 10px 0 25px;
    margin-top: 28px; }
    .address-options__head {
      font: bold 14px/1 'Roboto Slab';
      margin-bottom: 15px; }
    .address-options-item {
      margin-bottom: 12px; }
      .address-options-item label {
        display: inline-block;
        vertical-align: middle;
        max-width: 70%;
        padding-left: 6px;
        padding-top: 2px;
        cursor: pointer; }
    .address-options-items {
      margin-bottom: 30px; }

/* Cart */
.cart__head {
  padding: 13px 0 20px;
  font: bold 22px/1 'Roboto Slab'; }

.cart-content {
  float: left;
  width: 875px; }

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px; }
  .cart-table th {
    color: #9ba8b0;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 16px; }
    .cart-table th:first-child {
      text-align: left; }
  .cart-table td {
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #d4dade; }
    .cart-table td:nth-child(1) {
      width: 166px; }
    .cart-table td:nth-child(2) {
      width: 320px;
      padding-left: 27px;
      padding-right: 20px; }
    .cart-table td:nth-child(3) {
      text-align: center;
      width: 136px; }
    .cart-table td:nth-child(4) {
      width: 100px;
      text-align: center; }
    .cart-table td:nth-child(5) {
      text-align: center; }
    .cart-table td:nth-child(6) {
      text-align: right; }
  .cart-table b {
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    display: inline-block; }
  .cart-table__img {
    display: block;
    background-color: #fff;
    border: 1px solid #d4dade;
    border-radius: 4px;
    height: 166px;
    line-height: 166px;
    text-align: center; }
    .cart-table__img img {
      max-width: 80%;
      max-height: 80%;
      display: inline-block;
      vertical-align: middle; }
  .cart-table__head {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1.3;
    padding-top: 5px; }
    .cart-table__head:hover {
      text-decoration: underline; }
  .cart-table-calc {
    font-size: 0; }
    .cart-table-calc button {
      display: inline-block;
      vertical-align: middle;
      background-color: #fff;
      border: 1px solid #d4dade;
      width: 25px;
      line-height: 28px;
      cursor: pointer;
      transition: 300ms;
      font-size: 16px;
      font-weight: bold;
      color: #43525a; }
      .cart-table-calc button:first-child {
        border-radius: 4px 0 0 4px; }
      .cart-table-calc button:last-child {
        border-radius: 0 4px 4px 0; }
    .cart-table-calc input {
      display: inline-block;
      vertical-align: middle;
      width: 28px;
      height: 30px;
      border: none;
      border-top: 1px solid #d4dade;
      border-bottom: 1px solid #d4dade;
      text-align: center;
      color: #43525a;
      text-align: center;
      font: bold 16px 'Roboto'; }
  .cart-table__close {
    cursor: pointer;
    padding-top: 4px; }

.cart-sidebar {
  float: right;
  width: 424px;
  background-color: #fff;
  border: 1px solid #d4dade;
  border-radius: 4px; }

.cheque {
  padding: 20px 25px 28px; }
  .cheque__head {
    font: bold 18px/1 'Roboto Slab';
    color: #9ba8b0;
    margin-bottom: 18px; }
  .cheque-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px; }
    .cheque-table td {
      padding-bottom: 18px; }
      .cheque-table td:first-child {
        width: 250px; }
      .cheque-table td:last-child {
        font-weight: bold; }
    .cheque-table tr:last-child td {
      padding-top: 25px;
      border-top: 1px solid #b1babf;
      padding-bottom: 0;
      font-size: 18px;
      font-weight: bold; }
      .cheque-table tr:last-child td:first-child {
        text-transform: uppercase; }
  .cheque__link {
    text-align: center; }
    .cheque__link a {
      background: #e50d40;
      font: bold 18px/50px 'Roboto Slab';
      color: #fff;
      padding: 0 23px;
      border-radius: 50px; }
      .cheque__link a:hover {
        background: #c80b38; }

.coupon {
  font-size: 0;
  height: 200px;
  margin-bottom: 45px; }
  .coupon-content {
    display: inline-block;
    vertical-align: top;
    width: 64%;
    background: #d4dade;
    border-radius: 4px 0 0 4px;
    padding: 20px 0 0 30px;
    height: 100%; }
    .coupon-content p {
      font-size: 14px;
      margin-bottom: 27px;
      line-height: 1.2; }
  .coupon-info {
    display: inline-block;
    vertical-align: top;
    width: 36%;
    height: 100%;
    background: #43525a;
    border-radius: 0 4px 4px 0;
    color: #fff;
    padding: 52px 0 0 35px; }
    .coupon-info p {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px; }
    .coupon-info span {
      font-size: 14px;
      line-height: 1.5; }
  .coupon-links {
    margin-bottom: 27px; }
    .coupon-links li {
      display: inline-block; }
      .coupon-links li:last-child {
        margin-left: 28px;
        position: relative; }
        .coupon-links li:last-child:before {
          content: '';
          width: 2px;
          height: 18px;
          background: #56646c;
          position: absolute;
          left: -14px;
          top: 0; }
    .coupon-links a {
      font: bold 18px/1 'Roboto Slab';
      color: #dc0533;
      text-decoration: underline; }
      .coupon-links a:hover {
        text-decoration: none; }
      .coupon-links a.active {
        text-decoration: none;
        color: inherit; }
  .coupon-form span {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px; }
  .coupon-form input {
    width: 150px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #43525a;
    border-radius: 4px;
    color: #43525a;
    font: bold 16px 'Roboto';
    text-align: center;
    margin-right: 18px; }
  .coupon-form button {
    color: #fefefe;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    background: #b1babf;
    padding: 0 18px;
    line-height: 30px;
    border: none;
    transition: 300ms;
    cursor: pointer; }
    .coupon-form button:hover {
      background: #dc0533; }

.prize {
  margin-bottom: 60px; }
  .prize img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 35px; }
  .prize p {
    display: inline-block;
    vertical-align: middle;
    font: bold 22px/1.5 'Roboto Slab'; }
    .prize p b {
      color: #e50d40; }
    .prize p a {
      font-size: 14px;
      text-decoration: underline; }
      .prize p a:hover {
        text-decoration: none; }

/* Brief */
.brief {
  padding-top: 20px; }
  .brief-content {
    float: left;
    width: 870px; }
  .brief .cart-sidebar {
    margin-top: 45px; }
  .brief__head {
    font: bold 22px/1 'Roboto Slab';
    margin-bottom: 25px; }
  .brief-data {
    display: inline-block;
    vertical-align: top;
    width: 43%;
    padding-right: 55px; }
    .brief-data label {
      font-size: 12px;
      color: #9ba8b0;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      margin-bottom: 12px; }
    .brief-data input {
      width: 100%;
      height: 40px;
      background-color: #fff;
      border: 1px solid #bfc9ce;
      border-radius: 4px;
      padding: 0 10px;
      color: #43525a;
      font: 400 14px 'Roboto';
      margin-bottom: 23px; }
      .brief-data input::-webkit-input-placeholder {
        color: #43525a; }
      .brief-data input:-moz-placeholder {
        color: #43525a; }
      .brief-data input::-moz-placeholder {
        color: #43525a; }
      .brief-data input:-ms-input-placeholder {
        color: #43525a; }
  .brief-ways {
    padding-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    width: 55%; }
    .brief-ways-item {
      margin-bottom: 25px; }
    .brief-ways-content {
      display: inline-block;
      vertical-align: top;
      max-width: 93%; }
    .brief-ways label {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
      display: block;
      cursor: pointer; }
    .brief-ways p {
      line-height: 1.4; }
  .brief-deliver {
    border-top: 1px solid #bfc9ce;
    padding: 20px 0; }
    .brief-deliver__choose {
      margin-bottom: 17px; }
      .brief-deliver__choose a {
        color: #e50d40;
        text-decoration: underline; }
        .brief-deliver__choose a:hover {
          text-decoration: none; }
    .brief-deliver-content {
      margin-bottom: 20px; }
    .brief-deliver-checkbox {
      display: inline-block;
      vertical-align: middle;
      margin-right: 90px; }
      .brief-deliver-checkbox label {
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        padding-top: 2px; }
    .brief-deliver__address {
      display: inline-block;
      vertical-align: middle; }
    .brief-deliver-map {
      height: 299px; }
      .brief-deliver-map iframe {
        width: 100%;
        height: 100%;
        border: 1px solid #43525a;
        border-radius: 4px; }

/* Cart2 */
.cart-fixed {
  position: fixed;
  top: 20px;
  margin-top: 0 !important; }

.cart-pos {
  position: absolute;
  bottom: 60px;
  top: auto;
  left: auto !important;
  right: 0; }

.cart-thank {
  margin-top: 50px;
  border-bottom: 1px solid #d4dade;
  margin-bottom: 16px; }
  .cart-thank__head {
    margin-bottom: 23px;
    font: bold 24px/1 'Roboto Slab'; }
    .cart-thank__head span {
      font-size: 34px; }
    .cart-thank__head b {
      color: #e50d40; }
  .cart-thank p {
    line-height: 1.4;
    padding-bottom: 28px; }

.cart2 .cart-sidebar {
  margin-top: 64px;
  padding: 25px 0; }
  .cart2 .cart-sidebar .cheque-table tr:last-child td {
    font-size: 14px;
    font-weight: normal;
    border-top: 0;
    padding-top: 0; }
    .cart2 .cart-sidebar .cheque-table tr:last-child td:first-child {
      text-transform: inherit; }
    .cart2 .cart-sidebar .cheque-table tr:last-child td:last-child {
      font-weight: bold; }
  .cart2 .cart-sidebar .cheque-table tr td {
    vertical-align: top; }
    .cart2 .cart-sidebar .cheque-table tr td:first-child {
      width: 180px;
      line-height: 1.2; }
  .cart2 .cart-sidebar .cheque {
    padding-bottom: 0;
    padding-top: 0; }
  .cart2 .cart-sidebar .cheque:first-child .cheque-table tr:last-child td {
    border-bottom: 1px solid #b1babf;
    padding-bottom: 25px; }
  .cart2 .cart-sidebar .cheque:first-child .cheque-table tr td:last-child {
    font-size: 18px; }

/* Cabinet */
.cabinet {
  padding: 0 0 35px; }
  .cabinet__head {
    padding-top: 20px;
    margin-bottom: 23px;
    font: bold 22px/1 'Roboto Slab'; }
  .cabinet-content {
    float: left;
    width: 875px; }
  .cabinet-tabs {
    border-bottom: 1px solid #bfc9ce;
    text-align: center; }
    .cabinet-tabs-item {
      display: inline-block;
      vertical-align: top;
      width: 24.5%;
      border: 1px solid #bfc9ce;
      border-bottom: 0;
      cursor: pointer;
      border-radius: 4px 4px 0 0;
      font: bold 14px/1 'Roboto Slab';
      line-height: 43px;
      font-weight: bold;
      text-transform: uppercase;
      transition: 300ms; }
      .cabinet-tabs-item.active, .cabinet-tabs-item:hover {
        background: #43525a;
        color: #fff; }
  .cabinet-item {
    display: none; }
    .cabinet-item.active {
      display: block; }
  .cabinet-sidebar {
    float: right;
    width: 424px;
    background-color: #fff;
    border: 1px solid #d4dade;
    border-radius: 4px;
    padding: 20px; }
    .cabinet-sidebar__prefix {
      color: #9ba8b0;
      font: bold 18px/1 'Roboto Slab';
      margin-bottom: 12px; }
    .cabinet-sidebar__head {
      color: #e50d40;
      font: bold 24px/1 'Roboto Slab';
      padding-bottom: 23px;
      border-bottom: 1px solid #b1babf;
      margin-bottom: 24px; }
    .cabinet-sidebar__text {
      line-height: 1.5; }
    .cabinet-sidebar a {
      margin-top: 16px;
      text-decoration: underline; }
      .cabinet-sidebar a:hover {
        text-decoration: none; }

.profile-item {
  padding: 30px 0;
  border-bottom: 1px solid #bfc9ce; }
  .profile-item:last-child {
    border-bottom: 0; }

.profile__head {
  font: bold 18px/1 'Roboto Slab';
  margin-bottom: 28px; }

.profile-inputs {
  display: inline-block;
  vertical-align: middle;
  margin-right: 110px; }

.profile__input {
  margin-bottom: 33px; }
  .profile__input:last-child {
    margin-bottom: 0; }
  .profile__input label {
    color: #9ba8b0;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    text-transform: uppercase; }
  .profile__input input {
    display: inline-block;
    vertical-align: middle;
    width: 310px;
    height: 40px;
    background-color: #fff;
    padding: 0 11px;
    border: 1px solid #bfc9ce;
    border-radius: 4px;
    font: 400 14px 'Roboto';
    color: #43525a; }
    .profile__input input::-webkit-input-placeholder {
      color: #43525a; }
    .profile__input input:-moz-placeholder {
      color: #43525a; }
    .profile__input input::-moz-placeholder {
      color: #43525a; }
    .profile__input input:-ms-input-placeholder {
      color: #43525a; }

.profile__text {
  display: inline-block;
  vertical-align: middle;
  width: 290px; }
  .profile__text p {
    line-height: 1.4;
    margin-bottom: 22px; }
  .profile__text a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    line-height: 30px;
    padding: 0 45px;
    background: #bfc9ce;
    color: #fff; }
    .profile__text a:hover {
      background: #e50d40; }

.profile__caption {
  line-height: 1.4;
  margin-bottom: 25px; }

.profile-checkbox {
  margin-bottom: 30px; }
  .profile-checkbox:last-child {
    margin-bottom: 0; }
  .profile-checkbox label {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    font-weight: bold;
    cursor: pointer;
    padding-top: 2px; }

.order-progress {
  padding: 37px 0 32px;
  border-bottom: 1px solid #bfc9ce;
  text-align: center;
  margin-bottom: 30px; }
  .order-progress li {
    display: inline-block;
    vertical-align: middle;
    color: #a2aeb5;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px; }
    .order-progress li:last-child {
      margin-right: 0; }
    .order-progress li.active {
      color: #43525a; }

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 35px; }
  .order-table td {
    width: 32%;
    vertical-align: bottom; }
    .order-table td:last-child {
      text-align: right;
      width: auto;
      padding-right: 20px; }
    .order-table td b {
      font: bold 18px/1 'Roboto Slab';
      margin-bottom: 8px;
      display: inline-block; }
    .order-table td img {
      cursor: pointer; }

.order__address {
  line-height: 1.4;
  padding-bottom: 30px;
  margin-bottom: 16px;
  border-bottom: 1px solid #bfc9ce; }

/* Modal */
.modal {
  width: 424px;
  background-color: #fff;
  padding: 20px 60px 40px;
  border-radius: 4px;
  text-align: center;
  display: none; }
  .modal__head {
    font: bold 22px/1 'Roboto Slab';
    margin-bottom: 33px; }
  .modal label {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-bottom: 14px;
    text-align: left; }
  .modal input {
    width: 100%;
    font: 400 14px 'Roboto';
    height: 40px;
    background-color: #fff;
    border: 1px solid #bfc9ce;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 23px; }
  .modal button {
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: 300ms;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: #b1babf;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 30px;
    margin-bottom: 20px; }
    .modal button:hover {
      background: #e50d40; }
  .modal-checkbox {
    margin-bottom: 27px; }
    .modal-checkbox label {
      display: inline-block;
      vertical-align: middle;
      font-weight: 400;
      text-transform: inherit;
      margin-bottom: 0;
      padding-top: 2px;
      cursor: pointer; }
  .modal-soc {
    padding: 25px 0;
    border-top: 1px solid #bfc9ce;
    border-bottom: 1px solid #bfc9ce;
    margin-bottom: 22px; }
    .modal-soc-items {
      margin: 18px 0; }
      .modal-soc-items a {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px; }
    .modal-soc span {
      color: #889da8;
      font-size: 12px; }
  .modal__reg {
    line-height: 1.4; }
    .modal__reg a {
      font-weight: bold;
      text-decoration: underline; }
      .modal__reg a:hover {
        text-decoration: none; }

.fancybox-close {
  background: url(../images/modal-close.png) no-repeat 50%;
  width: 25px;
  height: 26px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */