* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

*:focus {
  outline: none;
}

body {
  font: 400 14px/1 'Roboto', sans-serif;
  color: #43525a;
  background: #f7f7f7;
  padding-bottom: 38px;
}

a {
  font: 400 14px/1 'Roboto', sans-serif;
  color: #43525a;
  text-decoration: none;
  transition: 300ms;
  display: inline-block;
  line-height: 1;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a img {
  border: none;
  outline: none;
}

.cf:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  width: 1336px;
  margin: 0 auto;
  position: relative;
}


/* Top banner */

.top-banner {
  position: relative;
  &__close {
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 3;
    background: url(../images/top-baner-close.png) no-repeat 50%;
    width: 32px;
    height: 32px;
  }
  img {
    vertical-align: bottom;
  }
}


/* Header */

.info {
  padding-bottom: 17px;
  &-wrap {
    background: #fff;
  }
  &-nav {
    float: left;
    margin-right: 110px;
    margin-top: 21px;
    li {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-right: 24px;
      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 13px;
        background: #43525a;
        position: absolute;
        top: 0;
        right: -14px;
      }
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      a {
        text-decoration: underline;
        &:hover {
          color: #e50d40;
        }
      }
    }
  }
  &-callback {
    float: left;
    margin-top: 15px;
    &__tel {
      display: inline-block;
      vertical-align: middle;
      color: #e50d40;
      font: bold 24px/1 'Roboto Slab';
      margin-right: 58px;
    }
    &-item {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      &:last-child {
        margin-left: 50px;
      }
      a {
        text-decoration: underline;
        &:hover {
          color: #e50d40;
        }
      }
      img {
        position: absolute;
        left: -23px;
        top: -9px;
      }
    }
  }
}

.burger-wrap {
  display: none;
  position: relative;
  z-index: 3;
}

.log-in {
  float: right;
  margin-top: 20px;
  li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 24px;
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 13px;
      background: #43525a;
      position: absolute;
      top: 0;
      right: -14px;
    }
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    a {
      text-decoration: underline;
      &:hover {
        color: #e50d40;
      }
    }
  }
}

.logo {
  margin: 20px 60px 0 0;
  float: left;
  a {
    display: inline-block;
    vertical-align: middle;
  }
  p {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
    line-height: 1.3;
  }
}

.header {
  padding-bottom: 19px;
  &-wrap {
    position: relative;
  }
}

.mobile-search {
  display: none;
}

.search {
  float: left;
  width: 450px;
  position: relative;
  margin: 29px 0 0 0;
  input {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: 1px solid #b1babf;
    border-radius: 4px;
    font: 400 16px 'Roboto';
    padding: 0 50px 0 20px;
    &::-webkit-input-placeholder {
      color: #839097;
    }
    &:-moz-placeholder {
      color: #839097;
    }
    &::-moz-placeholder {
      color: #839097;
    }
    &:-ms-input-placeholder {
      color: #839097;
    }
  }
  button {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 45px;
    background: #e50d40 url(../images/magnifier.png) no-repeat 50%;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      background-color: #c90937;
    }
  }
}

.header-info {
  float: right;
  margin-top: 34px;
  &-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    &:last-child {
      margin-left: 60px;
    }
    img {
      position: absolute;
      left: -36px;
      top: -8px;
    }
    p {
      margin-bottom: 7px;
      span {
        width: 69px;
        display: inline-block;
      }
    }
    b {
      font-size: 16px;
    }
  }
}


/* Mobile menu */

.mobile-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  min-height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(177, 186, 191, .8);
    z-index: 50;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &-content {
    background: #fff;
    width: 260px;
    padding: 0 20px;
    height: 100%;
    padding-bottom: 100px;
    position: relative;
    z-index: 60;
  }
  &-callback {
    padding: 24px 0 21px;
    text-align: right;
    a {
      font-size: 12px;
      text-decoration: underline;
      position: relative;
      &:hover {
        text-decoration: none;
      }
      &:before {
        content: '';
        display: block;
        background: url(../images/phone.png) no-repeat 50%;
        width: 15px;
        height: 15px;
        left: -27px;
        top: -3px;
        position: absolute;
      }
    }
  }
  &-login {
    padding: 24px 0;
    border-top: 1px solid #b1babf;
    li {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-right: 24px;
      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 13px;
        background: #43525a;
        position: absolute;
        top: 0;
        right: -14px;
      }
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      a {
        text-decoration: underline;
        &:hover {
          color: #e50d40;
        }
      }
    }
  }
  .main-sidebar-nav-item {
    &.active {
      .main-sidebar-nav-links {
        display: block;
      }
    }
    .main-sidebar-nav-links {
      display: none;
    }
  }
  &-links {
    padding-top: 17px;
    border-top: 1px solid #b1babf;
    a {
      text-decoration: underline;
      display: block;
      margin-bottom: 12px;
      font-size: 12px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


/* Nav */

.nav {
  background-image: linear-gradient(to top, #43525a 0%, #839097 100%);
  border-radius: 4px;
  &-main {
    text-align: center;
    font-size: 0;
  }
  &__list {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-right: 1px solid #6c7a81;
    &:last-child {
      border-right: 0;
    }
    &:hover {
      .nav__link {
        color: #2a3338;
        background-image: linear-gradient(to top, #b1bcc3 0%, #d9e6ee 98%, #d9e6ee 100%);
      }
      .nav-sub {
        opacity: 1;
        z-index: 150;
        visibility: visible;
      }
    }
  }
  &__link {
    width: 100%;
    font: 700 18px 'Roboto Slab';
    padding: 15px 22px;
    color: #fff;
    &_active {
      background-image: linear-gradient(to top, #980a3f 0%, #f10a32 100%);
    }
  }
  &-sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    background: #b1bcc3;
    text-align: left;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    ul {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding: 15px 23px 25px;
      li,
      a {
        color: #2a3338;
        font-size: 12px;
      }
      li {
        font-weight: bold;
        margin-bottom: 11px;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


/* Sidebar */

.main-sidebar {
  float: left;
  width: 196px;
  &-nav {
    &__head {
      font: 700 16px/1 'Roboto Slab';
      margin-bottom: 11px;
      &:hover {
        text-decoration: underline;
      }
    }
    &-links {
      padding: 0 0 25px 11px;
      li {
        margin-bottom: 9px;
      }
      a {
        text-decoration: underline;
        line-height: 1.2;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__banner {
    margin-top: 20px;
  }
}


/* Main */

.main {
  padding-top: 40px;
  &-content {
    width: 1109px;
    float: right;
  }
}


/* Showcase */

.showcase {
  position: relative;
  margin-bottom: 27px;
  &-item {
    &.mob {
      display: none;
    }
  }
  .slick-arrow {
    background: url(../images/showcase-arrows.png) no-repeat 0;
    width: 35px;
    height: 70px;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -35px;
    z-index: 5;
  }
  .slick-next {
    background-position: 100%;
    left: auto;
    right: 0;
  }
  .slick-dots {
    position: absolute;
    left: 20px;
    top: 20px;
    button {
      display: none;
    }
    li {
      width: 14px;
      height: 14px;
      border: 1px solid #fff;
      cursor: pointer;
      border-radius: 50%;
      transition: 300ms;
      display: inline-block;
      vertical-align: top;
      margin-right: 13px;
      &.slick-active {
        background: #fff;
      }
    }
  }
}


/* Advan */

.advan {
  font-size: 0;
  margin-bottom: 40px;
  &-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 70px;
    &:last-child {
      margin-right: 0;
    }
    &__img {
      margin-right: 14px;
      display: inline-block;
      vertical-align: middle;
    }
    p {
      line-height: 1.4;
      font: 700 16px 'Roboto Slab';
      display: inline-block;
      vertical-align: middle;
    }
  }
}


/* Carousel */

.carousel {
  &__head {
    border-top: 1px solid #e50d40;
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto Slab';
    padding: 16px 0 11px;
  }
  &-wrap {
    margin-left: -20px;
  }
  &-item {
    width: 197px;
    height: 460px;
    background-color: #fff;
    position: relative;
    padding: 11px;
    z-index: 5;
    margin: 9px 1px 9px 19px;
    &:before {
      content: '';
      display: block;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      border: 1px solid #d4dade;
      transition: 300ms;
      background: #fff;
      border-radius: 4px;
      z-index: -1;
    }
    &:hover:before {
      top: -9px;
      bottom: -9px;
      border: 2px solid #e50d40;
    }
    &__img {
      height: 250px;
      line-height: 250px;
      text-align: center;
      display: block;
      margin-bottom: 9px;
      img {
        vertical-align: middle;
        display: inline-block !important;
      }
    }
    &__name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 8px;
      line-height: 1.2;
      &:hover {
        text-decoration: underline;
      }
    }
    &__sub-name {
      font-size: 12px;
      margin-bottom: 8px;
      line-height: 1.2;
      &:hover {
        text-decoration: underline;
      }
    }
    &__new {
      color: #e50d40;
      font-size: 22px;
      font-weight: bold;
      float: left;
    }
    &__old {
      color: #b1babf;
      font-weight: 700;
      text-decoration: line-through;
      float: right;
      margin-top: 7px;
      font-size: 14px;
    }
    &-content {
      height: 94px;
    }
    &-stars {
      margin-bottom: 10px;
      i {
        font-size: 12px;
        margin-right: 3px;
        color: #faa61a;
        &.deactive {
          color: #b1babf;
        }
      }
      span {
        display: inline-block;
        font-size: 12px;
        vertical-align: middle;
        margin-left: 3px;
      }
      img {
        float: right;
        margin-top: -1px;
      }
    }
    &-size {
      font-size: 12px;
      margin-bottom: 10px;
      span {
        display: inline-block;
        vertical-align: middle;
      }
      &__item {
        font-weight: bold;
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        &.deactive {
          color: #b1babf;
        }
      }
    }
    &__link {
      float: left;
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      line-height: 25px;
      padding: 0 27px;
      border-radius: 25px;
      background: #b1babf;
      display: inline-block;
      vertical-align: middle;
      &:hover {
        background: #e50d40;
      }
    }
    &__like {
      float: right;
      margin: 7px 4px 0 0;
      &:hover {
        i {
          color: #e50d40;
        }
      }
      i {
        font-size: 13px;
        color: #b1babf;
        transition: 300ms;
      }
    }
    &__hit {
      position: absolute;
      font-size: 14px;
      left: 0px;
      top: 11px;
      background: url(../images/hit.png) no-repeat 50%;
      line-height: 25px;
      color: #f7f7f7;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      width: 55px;
    }
    &__sale {
      position: absolute;
      right: 11px;
      top: 9px;
      color: #f7f7f7;
      font-size: 18px;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: #e50d40;
      text-align: center;
      line-height: 42px;
      span {
        font-size: 12px;
      }
    }
  }
  .slick-arrow {
    background: url(../images/carousel-arrows.png) no-repeat 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 300ms;
    border: none;
    position: absolute;
    right: 30px;
    top: -33px;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next {
    background-position: 100%;
    right: 0;
  }
}


/* Brends */

.brends {
  &-wrap {
    margin-top: 30px;
  }
  padding: 25px 0 60px;
  &__head {
    border-top: 1px solid #e50d40;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto Slab';
    padding: 16px 0 11px;
  }
  .slick-arrow {
    background: url(../images/carousel-arrows.png) no-repeat 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 300ms;
    border: none;
    position: absolute;
    right: 30px;
    top: -33px;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next {
    background-position: 100%;
    right: 0;
  }
  &-item {
    text-align: center;
    &:hover {
      img {
        filter: grayscale(0);
      }
    }
    img {
      display: inline-block;
      transition: 300ms;
      filter: grayscale(1);
    }
  }
}


/* Main banner */

.main-banner {
  margin-bottom: 60px;
}


/* Helper */

.helper {
  margin: 50px 0;
  padding: 25px 60px 25px 40px;
  background-color: #fff;
  border: 1px solid #d4dade;
  border-radius: 4px;
  &__head {
    color: #e50d40;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Roboto Slab';
  }
  &__caption {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto Slab';
    margin-bottom: 7px;
  }
  &-content {
    float: left;
    width: 57%;
    padding-top: 42px;
    li {
      font-size: 24px;
      font-family: 'Roboto Slab';
      padding-left: 57px;
      position: relative;
      &:first-child {
        margin-bottom: 42px;
      }
      &:before {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background: #e50d40;
        position: absolute;
        left: 0;
        top: 11px;
      }
    }
  }
  &-form {
    float: left;
  }
  &-sex {
    text-align: center;
    margin-bottom: 25px;
    &-item {
      width: 133px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      &.active {
        .helper-sex-item__img {
          opacity: 1;
        }
        p {
          color: #e50d40;
        }
      }
      &__img {
        opacity: .3;
        transition: 300ms;
        height: 70px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  &-slider {
    margin-bottom: 42px;
    height: 8px;
    background-color: #b1babf;
    position: relative;
    border-radius: 8px;
    .ui-slider-handle {
      width: 16px;
      height: 16px;
      margin-left: -10px;
      border-radius: 50%;
      background: #e50d40;
      display: block;
      position: absolute;
      margin-top: -4px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: -5px;
        border-radius: 50%;
        right: -5px;
        top: -5px;
        bottom: -5px;
        background: rgba(229, 13, 64, .2);
      }
    }
    .ui-slider-range {
      background-color: #e50d40;
      height: 8px;
      position: absolute;
    }
    &-amount {
      text-align: center;
      color: #839097;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 6px;
    }
  }
  &__button {
    text-align: center;
    button {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      line-height: 40px;
      padding: 0 30px;
      border-radius: 40px;
      cursor: pointer;
      border: none;
      transition: 300ms;
      &:hover {
        background: #e50d40;
      }
    }
  }
}


/* Main text */

.main-text {
  padding-bottom: 30px;
  h3 {
    font: bold 18px/1.3 'Roboto Slab';
    margin-bottom: 27px;
  }
  p {
    margin-bottom: 27px;
    line-height: 1.5;
  }
}


/* Footer */

.footer {
  padding: 30px 0 20px;
  &-wrap {
    background: #e50d40;
    color: #fff;
  }
  &-adult {
    float: left;
    width: 220px;
    padding-right: 120px;
    &__num {
      width: 70px;
      height: 70px;
      background-color: #43525a;
      border-radius: 50%;
      color: #fff;
      font-size: 34px;
      font-weight: bold;
      line-height: 70px;
      text-align: center;
    }
    &__text {
      line-height: 1.7;
      margin-top: 11px;
    }
  }
  &-nav {
    float: left;
    ul {
      display: inline-block;
      vertical-align: top;
      margin-right: 83px;
      &:last-child {
        margin-right: 0;
      }
      li {
        margin-bottom: 8px;
        &:first-child {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 15px;
        }
      }
      a {
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &-info {
    float: right;
    &__tel {
      color: #fff;
      font: 700 28px/1 'Roboto Slab';
      margin-bottom: 8px;
    }
    &__email {
      text-decoration: underline;
      color: #fff;
      margin: 30px 0;
    }
  }
  &-line {
    border-top: 1px solid #ff5a81;
    padding: 15px 0;
    color: #fff;
    a {
      color: #fff;
    }
  }
}

.copy {
  float: left;
}

.omg {
  float: right;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.social {
  margin-top: 11px;
  a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.check {
  background: #43525a;
  padding: 12px 0;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  p {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    margin-left: 23px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    &:hover {
      text-decoration: underline;
    }
    &.check__no {
      color: #839097;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


/* Bread */

.bread {
  padding: 20px 0;
  border-bottom: 2px solid #e50d40;
  li {
    display: inline-block;
    vertical-align: middle;
    color: #43525a;
    font-size: 12px;
    &:after {
      content: '>';
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
      line-height: 17px;
      color: #b1babf;
      font-size: 12px;
    }
    &:last-child:after {
      display: none;
    }
    a {
      color: #b1babf;
      font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.catalog {
  &-header {
    padding: 15px 0;
    &__head {
      font: bold 18px 'Roboto Slab';
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 1.4;
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &-sidebar {
    float: left;
    width: 196px;
    &-choosen {
      margin-bottom: 42px;
      color: #e50d40;
      font-family: 'Roboto Slab';
      font-weight: bold;
      font-size: 18px;
      span {
        font-size: 14px;
        display: block;
        margin-bottom: 4px;
      }
    }
    &-nav {
      &-item {
        margin-bottom: 30px;
        &.active {
          .catalog-sidebar-nav-links {
            display: block;
          }
        }
      }
      &__head {
        font: 700 16px 'Roboto Slab';
        &:hover {
          text-decoration: underline;
        }
      }
      &-links {
        display: none;
        li {
          margin-top: 10px;
          padding-left: 10px;
          &.active {
            a {
              color: #e50d40;
            }
          }
          a {
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      &__all {
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        line-height: 25px;
        padding: 0 15px;
        background: #b1babf;
        border-radius: 25px;
        &:hover {
          background: #e50d40;
        }
      }
    }
  }
  &-content {
    width: 1109px;
    float: right;
  }
  &-popular {
    margin-bottom: 20px;
    span {
      font: 700 14px 'Roboto Slab';
      display: inline-block;
      margin-right: 9px;
    }
    a {
      color: #e50d40;
      text-decoration: underline;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 7px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-products {
    font-size: 0;
    .carousel-item {
      display: inline-block;
      vertical-align: top;
      width: 18.5%;
      margin-right: 1.8%;
      margin-left: 0;
      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }
  &-text {
    padding-bottom: 20px;
    p {
      line-height: 1.5;
      margin-bottom: 28px;
    }
  }
}

.filters {
  margin-top: 15px;
  background: #fff;
  border: 1px solid #d4dade;
  border-radius: 4px;
  padding: 17px 10px 0;
  margin-bottom: 30px;
  &-item {
    margin-bottom: 30px;
  }
  &__head-main {
    font: 700 16px 'Roboto Slab';
    margin-bottom: 24px;
  }
  &__head {
    margin-bottom: 10px;
    font-size: 14px;
  }
  &-inputs {
    margin-bottom: 32px;
    input {
      display: inline-block;
      vertical-align: middle;
      width: 70px;
      height: 30px;
      background-color: #d4dade;
      text-align: center;
      border-radius: 30px;
      border: none;
      font-weight: bold;
      color: #43525a;
    }
    span {
      margin: 0 10px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &-slider {
    height: 5px;
    background-color: #d4dade;
    border-radius: 5px;
    position: relative;
    .ui-slider-handle {
      width: 10px;
      height: 10px;
      background-color: #e50d40;
      border-radius: 50%;
      margin-left: -5px;
      position: absolute;
      top: -3px;
    }
    .ui-slider-range {
      position: absolute;
      height: 100%;
      background-color: #e50d40;
    }
  }
  &-choose {
    margin-bottom: 12px;
    > span {
      display: inline-block;
      vertical-align: middle;
      max-width: 150px;
      line-height: 1.4;
      font-size: 12px;
    }
  }
  &-checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid #b1babf;
    border-radius: 3px;
    position: relative;
    input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: 5;
      cursor: pointer;
      &:checked + span {
        background: #e50d40;
      }
    }
    span {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transition: 300ms;
    }
  }
}

.sort {
  background-color: #fff;
  border: 1px solid #d4dade;
  border-radius: 4px;
  padding: 12px;
  &-item {
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
    span {
      font: bold 14px 'Roboto Slab';
      display: inline-block;
      vertical-align: middle;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      margin-left: 16px;
      line-height: 25px;
      padding: 0 15px;
      background: #b1babf;
      border-radius: 25px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      &.active,
      &:hover {
        background: #e50d40;
      }
    }
  }
  &__arrow {
    padding-right: 32px !important;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url(../images/sort-arrow.png) no-repeat 50%;
      position: absolute;
      right: 12px;
      top: 8px;
      width: 10px;
      height: 8px;
    }
  }
}

.pagination {
  text-align: center;
  margin: 30px 0;
  &__arrow {
    background: url(../images/carousel-arrows.png) no-repeat 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 300ms;
    border: none;
    display: inline-block;
    vertical-align: middle;
    opacity: .5;
    margin-right: 20px;
    &:hover {
      opacity: 1;
    }
  }
  &__next {
    background-position: 100%;
    margin-right: 0;
    margin-left: 20px;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    &:after {
      content: '|';
      display: inline-block;
      vertical-align: middle;
      margin: 0 9px;
    }
    &.pagination__first:after,
    &.pagination__last:after,
    &:nth-last-child(2):after {
      display: none;
    }
    a {
      color: #b1babf;
      text-decoration: underline;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.filter-button {
  display: none;
}

.another {
  margin-bottom: 40px;
}


/* Article */

.article {
  padding-top: 18px;
  h1 {
    font: bold 22px 'Roboto Slab';
    margin-bottom: 27px;
    line-height: 1.2;
  }
  h3 {
    font: bold 18px 'Roboto Slab';
    margin-bottom: 27px;
    line-height: 1.2;
  }
  p {
    margin-bottom: 27px;
    line-height: 1.4;
  }
  img {
    margin-bottom: 27px;
  }
  &_second {
    margin-right: 250px;
  }
  &-banners {
    float: right;
    width: 200px;
    margin-top: 71px;
    a {
      margin-bottom: 55px;
    }
  }
}


/* Product */

.product {
  padding-top: 27px;
  &-gallery {
    float: left;
    width: 538px;
    &__main {
      width: 100%;
      border: 1px solid #d4dade;
      border-radius: 5px;
      img {
        vertical-align: bottom;
        border-radius: 5px;
      }
    }
    &-slider {
      margin-top: 17px;
      padding: 0 30px;
      .slick-arrow {
        background: url(../images/product-arrows.png) no-repeat 0;
        width: 11px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        cursor: pointer;
        border: none;
      }
      .slick-next {
        background-position: 100%;
        left: auto;
        right: 0;
      }
    }
    &-item {
      display: block;
      text-align: center;
      border: 1px solid #d4dade;
      border-radius: 4px;
      margin: 0 9px;
      opacity: .5;
      transition: 300ms;
      &:hover,
      &.active {
        opacity: 1;
      }
      img {
        display: inline-block !important;
        vertical-align: bottom;
        border-radius: 4px;
      }
    }
  }
  &-video {
    margin-top: 40px;
  }
  &-info {
    float: left;
    margin-left: 30px;
    width: 422px;
    &__head {
      font: bold 28px/1.2 'Roboto Slab';
      margin-bottom: 3px;
    }
    &__descr {
      font-size: 14px;
      font-weight: 400;
    }
    &-header {
      position: relative;
      padding-bottom: 20px;
      border-bottom: 1px solid #b1babf;
      span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        color: #e50d40;
        font-weight: bold;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &__img {
      height: 37px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      line-height: 37px;
    }
    &__status {
      position: absolute;
      top: 14px;
      right: 0;
      color: #e50d40;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }
    &-table {
      width: 100%;
      border-collapse: collapse;
      margin: 24px 0 10px;
      td {
        width: 50%;
        padding-bottom: 19px;
        &:first-child {
          font-weight: bold;
        }
      }
    }
    &-items {
      border-top: 1px solid #b1babf;
      padding-top: 22px;
    }
    &-item {
      margin-bottom: 40px;
      &__head {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 15px;
      }
      p {
        line-height: 1.5;
      }
      li {
        line-height: 1.5;
        &:before {
          content: '•';
          margin-right: 3px;
          display: inline-block;
        }
      }
    }
  }
  &-sidebar {
    float: right;
    width: 311px;
    margin-bottom: 50px;
  }
  &-buy {
    background-color: #d4dade;
    border: 1px solid #d4dade;
    border-radius: 4px 4px 0 0;
    padding: 18px;
    &-header {
      p {
        display: inline-block;
        vertical-align: middle;
        font: bold 14px/1 'Roboto Slab';
      }
      a {
        float: right;
        font-size: 12px;
        text-decoration: underline;
        margin-top: 1px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-sizes {
      margin: 15px 0;
      a {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        margin-right: 18px;
        background-color: #b1babf;
        width: 35px;
        color: #fff;
        font: bold 14px/35px 'Roboto Slab';
        text-align: center;
        &:hover,
        &.active {
          background: #e50d40;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &-price {
      margin-bottom: 17px;
      > span {
        display: inline-block;
        vertical-align: top;
        font: bold 14px/1 'Roboto Slab';
        margin-right: 8px;
      }
      &_one {
        > span {
          vertical-align: bottom;
          margin-bottom: 2px;
        }
      }
    }
    &-prices {
      display: inline-block;
      vertical-align: top;
      span {
        font: bold 14px/1 'Roboto Slab';
        text-decoration: line-through;
        margin-bottom: 4px;
        display: block;
      }
      p {
        color: #e50d40;
        margin-top: 0px;
        font: bold 22px/1 'Roboto Slab';
        display: inline-block;
        vertical-align: bottom;
      }
    }
    &-sale {
      background: #43525a;
      font: bold 28px/1 'Roboto Slab';
      width: 100px;
      line-height: 50px;
      background-color: #43525a;
      border-radius: 4px;
      text-align: center;
      position: relative;
      color: #fff;
      float: right;
      margin-top: -3px;
      &:before,
      &:after {
        content: '';
        display: block;
        width: 21px;
        height: 21px;
        background-color: #43525a;
        position: absolute;
        left: -10px;
        top: 50%;
        margin-top: -10px;
        border-radius: 50%;
      }
      &:after {
        left: auto;
        right: -10px;
      }
    }
    &-best {
      margin-bottom: 23px;
      span {
        color: #e50d40;
        font: bold 14px/1 'Roboto Slab';
        display: inline-block;
        margin-right: 10px;
      }
      a {
        color: #43525a;
        vertical-align: middle;
        display: inline-block;
        font-size: 12px;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-links {
      a {
        display: inline-block;
        vertical-align: middle;
        color: #43525a;
        font: bold 12px/1 'Roboto Slab';
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
        &.product-buy__to-cart {
          text-decoration: none;
          line-height: 40px;
          color: #fff;
          font-size: 14px;
          padding: 0 25px;
          background: #e50d40;
          border-radius: 40px;
          margin-right: 15px;
        }
      }
    }
  }
  &-advan {
    border: 1px solid #d4dade;
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding-top: 18px;
    margin-bottom: 30px;
    &-item {
      margin-bottom: 17px;
      &__img {
        width: 96px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
      }
      p {
        display: inline-block;
        vertical-align: middle;
        width: 175px;
        line-height: 1.3;
        b {
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
  &-category {
    &__head {
      font: bold 14px/1 'Roboto Slab';
      margin-bottom: 15px;
    }
    a {
      display: inline-block;
      color: #e50d40;
      margin-right: 7px;
      margin-bottom: 11px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-feedback {
    max-width: 1108px;
    background-color: #d4dade;
    margin: 0 auto 60px;
    border-radius: 60px;
    text-align: center;
    font: bold 18px/50px 'Roboto Slab';
    a {
      text-decoration: underline;
      font: bold 18px/1 'Roboto Slab';
      &:hover {
        text-decoration: none;
      }
    }
    &-form {
      margin: 60px 0 30px;
      form {
        width: 650px;
        margin: 0 auto;
      }
      input,
      textarea {
        font-family: inherit;
        color: #838f97;
        font-size: 14px;
        font-weight: 400;
        background-color: #fff;
        border: 1px solid #bfc9ce;
        border-radius: 4px;
        height: 40px;
        padding: 0 15px;
      }
      textarea {
        resize: none;
        padding-top: 10px;
        width: 100%;
        height: 80px;
        margin-bottom: 20px;
      }
      input {
        width: 48%;
        &:first-child {
          margin-right: 4%;
        }
      }
      button {
        background: #e50d40;
        border-radius: 50px;
        text-transform: uppercase;
        color: #f7f7f7;
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
        padding: 0 50px;
        border: none;
        cursor: pointer;
        transition: 300ms;
        &:hover {
          background: #cc0b39;
        }
      }
      p {
        font-size: 12px;
        color: #889da8;
        margin: 17px 0;
      }
    }
    &-input {
      font-size: 0;
    }
    &-rating {
      margin-bottom: 17px;
      span {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
      }
      i {
        font-size: 20px;
        color: #faa61a;
        margin-right: 7px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    &-items {
      border-top: 1px solid #e50d40;
      padding: 30px 0 100px;
    }
    &-item {
      position: relative;
      width: 650px;
      margin: 0 auto 20px;
    }
    &-author {
      position: absolute;
      left: -115px;
      width: 115px;
      top: 12px;
      p {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
      }
      i {
        font-size: 12px;
        color: #faa61a;
      }
    }
    &-text {
      height: 80px;
      background-color: #fff;
      border: 1px solid #bfc9ce;
      border-radius: 3px;
      padding: 12px;
      line-height: 1.5;
      font-size: 14px;
    }
  }
}


/* Address */

.address {
  padding-top: 15px;
  padding-bottom: 30px;
  &-content {
    float: left;
    width: 990px;
  }
  &-map {
    iframe {
      border-radius: 4px;
      height: 600px;
      width: 100%;
      border: none;
    }
  }
  &__head {
    font: bold 22px/1 'Roboto Slab';
    margin-bottom: 32px;
  }
  &-items {
    margin-bottom: 20px;
  }
  &-item {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 23px;
    &__head {
      color: #e50d40;
      font: bold 18px/1 'Roboto Slab';
      margin-bottom: 20px;
    }
    td {
      line-height: 1.5;
      vertical-align: top;
      &:first-child {
        font-weight: bold;
        padding-left: 28px;
        width: 320px;
      }
      &:nth-child(2) {
        width: 320px;
      }
    }
  }
  &-sidebar {
    float: right;
    width: 311px;
  }
  &-links {
    font-size: 0;
    a {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 20px;
      line-height: 25px;
      background: #e50d40;
      width: 50%;
      text-align: center;
      &:last-child {
        background: #b1babf;
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 50px;
          background: inherit;
          position: absolute;
          left: -8px;
          z-index: -1;
          top: 0;
          height: 100%;
        }
      }
    }
  }
  &-options {
    background-color: #fff;
    border: 1px solid #b5c1c8;
    border-radius: 4px;
    padding: 14px 10px 0 25px;
    margin-top: 28px;
    &__head {
      font: bold 14px/1 'Roboto Slab';
      margin-bottom: 15px;
    }
    &-item {
      margin-bottom: 12px;
      label {
        display: inline-block;
        vertical-align: middle;
        max-width: 70%;
        padding-left: 6px;
        padding-top: 2px;
        cursor: pointer;
      }
    }
    &-items {
      margin-bottom: 30px;
    }
  }
}


/* Cart */

.cart {
  &__head {
    padding: 13px 0 20px;
    font: bold 22px/1 'Roboto Slab';
  }
  &-content {
    float: left;
    width: 875px;
  }
  &-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    th {
      color: #9ba8b0;
      font-size: 12px;
      text-transform: uppercase;
      padding-bottom: 16px;
      &:first-child {
        text-align: left;
      }
    }
    td {
      vertical-align: top;
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: 1px solid #d4dade;
      &:nth-child(1) {
        width: 166px;
      }
      &:nth-child(2) {
        width: 320px;
        padding-left: 27px;
        padding-right: 20px;
      }
      &:nth-child(3) {
        text-align: center;
        width: 136px;
      }
      &:nth-child(4) {
        width: 100px;
        text-align: center;
      }
      &:nth-child(5) {
        text-align: center;
      }
      &:nth-child(6) {
        text-align: right;
      }
    }
    b {
      font-size: 18px;
      font-weight: bold;
      padding-top: 5px;
      display: inline-block;
    }
    &__img {
      display: block;
      background-color: #fff;
      border: 1px solid #d4dade;
      border-radius: 4px;
      height: 166px;
      line-height: 166px;
      text-align: center;
      img {
        max-width: 80%;
        max-height: 80%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    &__head {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 25px;
      line-height: 1.3;
      padding-top: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
    &-calc {
      font-size: 0;
      button {
        display: inline-block;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #d4dade;
        width: 25px;
        line-height: 28px;
        cursor: pointer;
        transition: 300ms;
        font-size: 16px;
        font-weight: bold;
        color: #43525a;
        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }
      input {
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        height: 30px;
        border: none;
        border-top: 1px solid #d4dade;
        border-bottom: 1px solid #d4dade;
        text-align: center;
        color: #43525a;
        text-align: center;
        font: bold 16px 'Roboto';
      }
    }
    &__close {
      cursor: pointer;
      padding-top: 4px;
    }
  }
  &-sidebar {
    float: right;
    width: 424px;
    background-color: #fff;
    border: 1px solid #d4dade;
    border-radius: 4px;
  }
}

.cheque {
  padding: 20px 25px 28px;
  &__head {
    font: bold 18px/1 'Roboto Slab';
    color: #9ba8b0;
    margin-bottom: 18px;
  }
  &-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;
    td {
      padding-bottom: 18px;
      &:first-child {
        width: 250px;
      }
      &:last-child {
        font-weight: bold;
      }
    }
    tr {
      &:last-child {
        td {
          padding-top: 25px;
          border-top: 1px solid #b1babf;
          padding-bottom: 0;
          font-size: 18px;
          font-weight: bold;
          &:first-child {
            text-transform: uppercase;
          }
        }
      }
    }
  }
  &__link {
    text-align: center;
    a {
      background: #e50d40;
      font: bold 18px/50px 'Roboto Slab';
      color: #fff;
      padding: 0 23px;
      border-radius: 50px;
      &:hover {
        background: #c80b38;
      }
    }
  }
}

.coupon {
  font-size: 0;
  height: 200px;
  margin-bottom: 45px;
  &-content {
    display: inline-block;
    vertical-align: top;
    width: 64%;
    background: #d4dade;
    border-radius: 4px 0 0 4px;
    padding: 20px 0 0 30px;
    height: 100%;
    p {
      font-size: 14px;
      margin-bottom: 27px;
      line-height: 1.2;
    }
  }
  &-info {
    display: inline-block;
    vertical-align: top;
    width: 36%;
    height: 100%;
    background: #43525a;
    border-radius: 0 4px 4px 0;
    color: #fff;
    padding: 52px 0 0 35px;
    p {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    span {
      font-size: 14px;
      line-height: 1.5;
    }
  }
  &-links {
    margin-bottom: 27px;
    li {
      display: inline-block;
      &:last-child {
        margin-left: 28px;
        position: relative;
        &:before {
          content: '';
          width: 2px;
          height: 18px;
          background: #56646c;
          position: absolute;
          left: -14px;
          top: 0;
        }
      }
    }
    a {
      font: bold 18px/1 'Roboto Slab';
      color: #dc0533;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
      &.active {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  &-form {
    span {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 11px;
    }
    input {
      width: 150px;
      height: 30px;
      background-color: #fff;
      border: 1px solid #43525a;
      border-radius: 4px;
      color: #43525a;
      font: bold 16px 'Roboto';
      text-align: center;
      margin-right: 18px;
    }
    button {
      color: #fefefe;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 50px;
      background: #b1babf;
      padding: 0 18px;
      line-height: 30px;
      border: none;
      transition: 300ms;
      cursor: pointer;
      &:hover {
        background: #dc0533;
      }
    }
  }
}

.prize {
  margin-bottom: 60px;
  img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 35px;
  }
  p {
    display: inline-block;
    vertical-align: middle;
    font: bold 22px/1.5 'Roboto Slab';
    b {
      color: #e50d40;
    }
    a {
      font-size: 14px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


/* Brief */

.brief {
  padding-top: 20px;
  &-content {
    float: left;
    width: 870px;
  }
  .cart-sidebar {
    margin-top: 45px;
  }
  &__head {
    font: bold 22px/1 'Roboto Slab';
    margin-bottom: 25px;
  }
  &-data {
    display: inline-block;
    vertical-align: top;
    width: 43%;
    padding-right: 55px;
    label {
      font-size: 12px;
      color: #9ba8b0;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      margin-bottom: 12px;
    }
    input {
      width: 100%;
      height: 40px;
      background-color: #fff;
      border: 1px solid #bfc9ce;
      border-radius: 4px;
      padding: 0 10px;
      color: #43525a;
      font: 400 14px 'Roboto';
      margin-bottom: 23px;
      &::-webkit-input-placeholder {
        color: #43525a;
      }
      &:-moz-placeholder {
        color: #43525a;
      }
      &::-moz-placeholder {
        color: #43525a;
      }
      &:-ms-input-placeholder {
        color: #43525a;
      }
    }
  }
  &-ways {
    padding-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    width: 55%;
    &-item {
      margin-bottom: 25px;
    }
    &-content {
      display: inline-block;
      vertical-align: top;
      max-width: 93%;
    }
    label {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
      display: block;
      cursor: pointer;
    }
    p {
      line-height: 1.4;
    }
  }
  &-deliver {
    border-top: 1px solid #bfc9ce;
    padding: 20px 0;
    &__choose {
      margin-bottom: 17px;
      a {
        color: #e50d40;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-content {
      margin-bottom: 20px;
    }
    &-checkbox {
      display: inline-block;
      vertical-align: middle;
      margin-right: 90px;
      label {
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        padding-top: 2px;
      }
    }
    &__address {
      display: inline-block;
      vertical-align: middle;
    }
    &-map {
      height: 299px;
      iframe {
        width: 100%;
        height: 100%;
        border: 1px solid #43525a;
        border-radius: 4px;
      }
    }
  }
}


/* Cart2 */

.cart {
  &-fixed {
    position: fixed;
    top: 20px;
    margin-top: 0 !important;
  }
  &-pos {
    position: absolute;
    bottom: 60px;
    top: auto;
    left: auto !important;
    right: 0;
  }
  &-thank {
    margin-top: 50px;
    border-bottom: 1px solid #d4dade;
    margin-bottom: 16px;
    &__head {
      margin-bottom: 23px;
      font: bold 24px/1 'Roboto Slab';
      span {
        font-size: 34px;
      }
      b {
        color: #e50d40;
      }
    }
    p {
      line-height: 1.4;
      padding-bottom: 28px;
    }
  }
}

.cart2 .cart-sidebar {
  margin-top: 64px;
  padding: 25px 0;
  .cheque-table tr:last-child td {
    font-size: 14px;
    font-weight: normal;
    border-top: 0;
    padding-top: 0;
    &:first-child {
      text-transform: inherit;
    }
    &:last-child {
      font-weight: bold;
    }
  }
  .cheque-table tr td {
    vertical-align: top;
    &:first-child {
      width: 180px;
      line-height: 1.2;
    }
  }
  .cheque {
    padding-bottom: 0;
    padding-top: 0;
  }
  .cheque:first-child .cheque-table tr {
    &:last-child td {
      border-bottom: 1px solid #b1babf;
      padding-bottom: 25px;
    }
    td:last-child {
      font-size: 18px;
    }
  }
}


/* Cabinet */

.cabinet {
  padding: 0 0 35px;
  &__head {
    padding-top: 20px;
    margin-bottom: 23px;
    font: bold 22px/1 'Roboto Slab';
  }
  &-content {
    float: left;
    width: 875px;
  }
  &-tabs {
    border-bottom: 1px solid #bfc9ce;
    text-align: center;
    &-item {
      display: inline-block;
      vertical-align: top;
      width: 24.5%;
      border: 1px solid #bfc9ce;
      border-bottom: 0;
      cursor: pointer;
      border-radius: 4px 4px 0 0;
      font: bold 14px/1 'Roboto Slab';
      line-height: 43px;
      font-weight: bold;
      text-transform: uppercase;
      transition: 300ms;
      &.active,
      &:hover {
        background: #43525a;
        color: #fff;
      }
    }
  }
  &-item {
    display: none;
    &.active {
      display: block;
    }
  }
  &-sidebar {
    float: right;
    width: 424px;
    background-color: #fff;
    border: 1px solid #d4dade;
    border-radius: 4px;
    padding: 20px;
    &__prefix {
      color: #9ba8b0;
      font: bold 18px/1 'Roboto Slab';
      margin-bottom: 12px;
    }
    &__head {
      color: #e50d40;
      font: bold 24px/1 'Roboto Slab';
      padding-bottom: 23px;
      border-bottom: 1px solid #b1babf;
      margin-bottom: 24px;
    }
    &__text {
      line-height: 1.5;
    }
    a {
      margin-top: 16px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.profile {
  &-item {
    padding: 30px 0;
    border-bottom: 1px solid #bfc9ce;
    &:last-child {
      border-bottom: 0;
    }
  }
  &__head {
    font: bold 18px/1 'Roboto Slab';
    margin-bottom: 28px;
  }
  &-inputs {
    display: inline-block;
    vertical-align: middle;
    margin-right: 110px;
  }
  &__input {
    margin-bottom: 33px;
    &:last-child {
      margin-bottom: 0;
    }
    label {
      color: #9ba8b0;
      font-size: 12px;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      width: 110px;
      text-transform: uppercase;
    }
    input {
      display: inline-block;
      vertical-align: middle;
      width: 310px;
      height: 40px;
      background-color: #fff;
      padding: 0 11px;
      border: 1px solid #bfc9ce;
      border-radius: 4px;
      font: 400 14px 'Roboto';
      color: #43525a;
      &::-webkit-input-placeholder {
        color: #43525a;
      }
      &:-moz-placeholder {
        color: #43525a;
      }
      &::-moz-placeholder {
        color: #43525a;
      }
      &:-ms-input-placeholder {
        color: #43525a;
      }
    }
  }
  &__text {
    display: inline-block;
    vertical-align: middle;
    width: 290px;
    p {
      line-height: 1.4;
      margin-bottom: 22px;
    }
    a {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 30px;
      line-height: 30px;
      padding: 0 45px;
      background: #bfc9ce;
      color: #fff;
      &:hover {
        background: #e50d40;
      }
    }
  }
  &__caption {
    line-height: 1.4;
    margin-bottom: 25px;
  }
  &-checkbox {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    label {
      display: inline-block;
      vertical-align: middle;
      max-width: 90%;
      font-weight: bold;
      cursor: pointer;
      padding-top: 2px;
    }
  }
}

.order {
  &-progress {
    padding: 37px 0 32px;
    border-bottom: 1px solid #bfc9ce;
    text-align: center;
    margin-bottom: 30px;
    li {
      display: inline-block;
      vertical-align: middle;
      color: #a2aeb5;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        color: #43525a;
      }
    }
  }
  &-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 35px;
    td {
      width: 32%;
      vertical-align: bottom;
      &:last-child {
        text-align: right;
        width: auto;
        padding-right: 20px;
      }
      b {
        font: bold 18px/1 'Roboto Slab';
        margin-bottom: 8px;
        display: inline-block;
      }
      img {
        cursor: pointer;
      }
    }
  }
  &__address {
    line-height: 1.4;
    padding-bottom: 30px;
    margin-bottom: 16px;
    border-bottom: 1px solid #bfc9ce;
  }
}


/* Modal */

.modal {
  width: 424px;
  background-color: #fff;
  padding: 20px 60px 40px;
  border-radius: 4px;
  text-align: center;
  display: none;
  &__head {
    font: bold 22px/1 'Roboto Slab';
    margin-bottom: 33px;
  }
  label {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-bottom: 14px;
    text-align: left;
  }
  input {
    width: 100%;
    font: 400 14px 'Roboto';
    height: 40px;
    background-color: #fff;
    border: 1px solid #bfc9ce;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 23px;
  }
  button {
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: 300ms;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: #b1babf;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 30px;
    margin-bottom: 20px;
    &:hover {
      background: #e50d40;
    }
  }
  &-checkbox {
    margin-bottom: 27px;
    label {
      display: inline-block;
      vertical-align: middle;
      font-weight: 400;
      text-transform: inherit;
      margin-bottom: 0;
      padding-top: 2px;
      cursor: pointer;
    }
  }
  &-soc {
    padding: 25px 0;
    border-top: 1px solid #bfc9ce;
    border-bottom: 1px solid #bfc9ce;
    margin-bottom: 22px;
    &-items {
      margin: 18px 0;
      a {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
      }
    }
    span {
      color: #889da8;
      font-size: 12px;
    }
  }
  &__reg {
    line-height: 1.4;
    a {
      font-weight: bold;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.fancybox-close {
  background: url(../images/modal-close.png) no-repeat 50%;
  width: 25px;
  height: 26px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}